In [10]:
import yfinance as yf
import pandas as pd

In [11]:
SP500 = pd.read_html("https://en.wikipedia.org/wiki/List_of_S%26P_500_companies")
print(len(SP500))

2

In [12]:
SP500 = SP500[0]
SP500_df = pd.DataFrame(SP500)
SP500_df

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M,reports,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1976-08-09,66740,1902
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
2,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
3,ABMD,Abiomed,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981
4,ACN,Accenture,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...,...
500,YUM,Yum! Brands,reports,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
501,ZBRA,Zebra Technologies,reports,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
502,ZBH,Zimmer Biomet,reports,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
503,ZION,Zions Bancorp,reports,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
504,ZTS,Zoetis,reports,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [13]:
SP500_all_tickers = SP500_df.Symbol.tolist()
print(SP500_all_tickers)

['MMM', 'ABT', 'ABBV', 'ABMD', 'ACN', 'ATVI', 'ADBE', 'AMD', 'AAP', 'AES', 'AFL', 'A', 'APD', 'AKAM', 'ALK', 'ALB', 'ARE', 'ALGN', 'ALLE', 'LNT', 'ALL', 'GOOGL', 'GOOG', 'MO', 'AMZN', 'AMCR', 'AEE', 'AAL', 'AEP', 'AXP', 'AIG', 'AMT', 'AWK', 'AMP', 'ABC', 'AME', 'AMGN', 'APH', 'ADI', 'ANSS', 'ANTM', 'AON', 'AOS', 'APA', 'AAPL', 'AMAT', 'APTV', 'ADM', 'ANET', 'AJG', 'AIZ', 'T', 'ATO', 'ADSK', 'ADP', 'AZO', 'AVB', 'AVY', 'BKR', 'BLL', 'BAC', 'BK', 'BAX', 'BDX', 'BRK.B', 'BBY', 'BIO', 'BIIB', 'BLK', 'BA', 'BKNG', 'BWA', 'BXP', 'BSX', 'BMY', 'AVGO', 'BR', 'BF.B', 'CHRW', 'COG', 'CDNS', 'CZR', 'CPB', 'COF', 'CAH', 'KMX', 'CCL', 'CARR', 'CTLT', 'CAT', 'CBOE', 'CBRE', 'CDW', 'CE', 'CNC', 'CNP', 'CERN', 'CF', 'CRL', 'SCHW', 'CHTR', 'CVX', 'CMG', 'CB', 'CHD', 'CI', 'CINF', 'CTAS', 'CSCO', 'C', 'CFG', 'CTXS', 'CLX', 'CME', 'CMS', 'KO', 'CTSH', 'CL', 'CMCSA', 'CMA', 'CAG', 'COP', 'ED', 'STZ', 'COO', 'CPRT', 'GLW', 'CTVA', 'COST', 'CCI', 'CSX', 'CMI', 'CVS', 'DHI', 'DHR', 'DRI', 'DVA', 'DE', 'DAL', 'XRAY', 'DVN', 'DXCM', 'FANG', 'DLR', 'DFS', 'DISCA', 'DISCK', 'DISH', 'DG', 'DLTR', 'D', 'DPZ', 'DOV', 'DOW', 'DTE', 'DUK', 'DRE', 'DD', 'DXC', 'EMN', 'ETN', 'EBAY', 'ECL', 'EIX', 'EW', 'EA', 'EMR', 'ENPH', 'ETR', 'EOG', 'EFX', 'EQIX', 'EQR', 'ESS', 'EL', 'ETSY', 'EVRG', 'ES', 'RE', 'EXC', 'EXPE', 'EXPD', 'EXR', 'XOM', 'FFIV', 'FB', 'FAST', 'FRT', 'FDX', 'FIS', 'FITB', 'FE', 'FRC', 'FISV', 'FLT', 'FMC', 'F', 'FTNT', 'FTV', 'FBHS', 'FOXA', 'FOX', 'BEN', 'FCX', 'GPS', 'GRMN', 'IT', 'GNRC', 'GD', 'GE', 'GIS', 'GM', 'GPC', 'GILD', 'GL', 'GPN', 'GS', 'GWW', 'HAL', 'HBI', 'HIG', 'HAS', 'HCA', 'PEAK', 'HSIC', 'HSY', 'HES', 'HPE', 'HLT', 'HOLX', 'HD', 'HON', 'HRL', 'HST', 'HWM', 'HPQ', 'HUM', 'HBAN', 'HII', 'IEX', 'IDXX', 'INFO', 'ITW', 'ILMN', 'INCY', 'IR', 'INTC', 'ICE', 'IBM', 'IP', 'IPG', 'IFF', 'INTU', 'ISRG', 'IVZ', 'IPGP', 'IQV', 'IRM', 'JKHY', 'J', 'JBHT', 'SJM', 'JNJ', 'JCI', 'JPM', 'JNPR', 'KSU', 'K', 'KEY', 'KEYS', 'KMB', 'KIM', 'KMI', 'KLAC', 'KHC', 'KR', 'LB', 'LHX', 'LH', 'LRCX', 'LW', 'LVS', 'LEG', 'LDOS', 'LEN', 'LLY', 'LNC', 'LIN', 'LYV', 'LKQ', 'LMT', 'L', 'LOW', 'LUMN', 'LYB', 'MTB', 'MRO', 'MPC', 'MKTX', 'MAR', 'MMC', 'MLM', 'MAS', 'MA', 'MKC', 'MXIM', 'MCD', 'MCK', 'MDT', 'MRK', 'MET', 'MTD', 'MGM', 'MCHP', 'MU', 'MSFT', 'MAA', 'MRNA', 'MHK', 'TAP', 'MDLZ', 'MPWR', 'MNST', 'MCO', 'MS', 'MOS', 'MSI', 'MSCI', 'NDAQ', 'NTAP', 'NFLX', 'NWL', 'NEM', 'NWSA', 'NWS', 'NEE', 'NLSN', 'NKE', 'NI', 'NSC', 'NTRS', 'NOC', 'NLOK', 'NCLH', 'NOV', 'NRG', 'NUE', 'NVDA', 'NVR', 'NXPI', 'ORLY', 'OXY', 'ODFL', 'OMC', 'OKE', 'ORCL', 'OGN', 'OTIS', 'PCAR', 'PKG', 'PH', 'PAYX', 'PAYC', 'PYPL', 'PENN', 'PNR', 'PBCT', 'PEP', 'PKI', 'PRGO', 'PFE', 'PM', 'PSX', 'PNW', 'PXD', 'PNC', 'POOL', 'PPG', 'PPL', 'PFG', 'PG', 'PGR', 'PLD', 'PRU', 'PTC', 'PEG', 'PSA', 'PHM', 'PVH', 'QRVO', 'PWR', 'QCOM', 'DGX', 'RL', 'RJF', 'RTX', 'O', 'REG', 'REGN', 'RF', 'RSG', 'RMD', 'RHI', 'ROK', 'ROL', 'ROP', 'ROST', 'RCL', 'SPGI', 'CRM', 'SBAC', 'SLB', 'STX', 'SEE', 'SRE', 'NOW', 'SHW', 'SPG', 'SWKS', 'SNA', 'SO', 'LUV', 'SWK', 'SBUX', 'STT', 'STE', 'SYK', 'SIVB', 'SYF', 'SNPS', 'SYY', 'TMUS', 'TROW', 'TTWO', 'TPR', 'TGT', 'TEL', 'TDY', 'TFX', 'TER', 'TSLA', 'TXN', 'TXT', 'TMO', 'TJX', 'TSCO', 'TT', 'TDG', 'TRV', 'TRMB', 'TFC', 'TWTR', 'TYL', 'TSN', 'UDR', 'ULTA', 'USB', 'UAA', 'UA', 'UNP', 'UAL', 'UNH', 'UPS', 'URI', 'UHS', 'UNM', 'VLO', 'VTR', 'VRSN', 'VRSK', 'VZ', 'VRTX', 'VFC', 'VIAC', 'VTRS', 'V', 'VNO', 'VMC', 'WRB', 'WAB', 'WMT', 'WBA', 'DIS', 'WM', 'WAT', 'WEC', 'WFC', 'WELL', 'WST', 'WDC', 'WU', 'WRK', 'WY', 'WHR', 'WMB', 'WLTW', 'WYNN', 'XEL', 'XLNX', 'XYL', 'YUM', 'ZBRA', 'ZBH', 'ZION', 'ZTS']

In [14]:
# clean data so it can be passed to yahoo finance
# some stocks come across with a "." that needs to be changed to a "-"
stocks = []

for stock_ticker in SP500_all_tickers:
    ticker = stock_ticker.replace(".","-")
    stocks.append(ticker)

In [17]:
# define a function download_data()
# name of the stock (key) - stock values (2015-2021) as the values
start_date = '2021-07-26'
end_date = '2021-07-30'

# define a function download_data()
def download_data():
    # name of the stock (key) - stock values (2015-2021) as the values
    stock_data = {}

    for stock in stocks:
        ticker = yf.Ticker(stock)
        stock_data[stock] = ticker.history(start=start_date, end=end_date)['Close']
    return pd.DataFrame(stock_data)

download_data()

,MMM,ABT,ABBV,ABMD,ACN,ATVI,ADBE,AMD,AAP,AES,...,WLTW,WYNN,XEL,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2021-07-26,201.669998,119.519997,117.790001,325.000000,318.980011,90.139999,620.799988,91.820000,214.089996,23.850681,...,206.070007,104.320000,68.309998,135.440002,124.080002,123.449997,545.309998,159.649994,51.480000,200.820007
2021-07-27,200.470001,119.809998,117.959999,321.959991,319.890015,84.050003,618.280029,91.029999,215.369995,24.158751,...,206.000000,100.339996,69.459999,131.000000,123.949997,125.480003,540.179993,162.839996,51.680000,201.869995
2021-07-28,198.279999,120.519997,118.550003,323.799988,316.309998,84.820000,620.919983,97.930000,212.250000,24.069311,...,201.600006,102.160004,68.699997,138.539993,122.930000,122.610001,545.739990,162.559998,52.360001,203.270004
2021-07-29,198.169998,121.089996,118.870003,324.809998,318.350006,83.570000,621.700012,102.949997,213.389999,24.119001,...,203.559998,99.760002,68.790001,147.250000,125.059998,130.309998,548.099976,162.740005,52.840000,204.119995
2021-07-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
SP500_df_trimmed = SP500_df[['Symbol', 'GICS Sector']]
SP500_df_trimmed.set_index(SP500_df_trimmed['Symbol'], inplace=True)
SP500_df_trimmed.drop(columns=['Symbol'], inplace=True)
SP500_df_trimmed

C:\Users\sslusher\Anaconda3\envs\dev\lib\site-packages\pandas\core\frame.py:4170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

                   GICS Sector
Symbol
MMM                Industrials
ABT                Health Care
ABBV               Health Care
ABMD               Health Care
ACN     Information Technology
...                        ...
YUM     Consumer Discretionary
ZBRA    Information Technology
ZBH                Health Care
ZION                Financials
ZTS                Health Care

[505 rows x 1 columns]

In [52]:
data = yf.download(
    #tickers list or string as well
    tickers = stocks,

    # use "period" instead of start/end
    # valid periods: 1d, 5d, 1mo, 3mo, 6mo, 1y, 2y, 5y, 10y, ytd, max
    # (optional, default is "1mo")
    period = "5y",

    # fetch data by interval (including intraday if period < 60 days)
    # valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
    # (optional, default is '1d')
    interval = '1d',

    # adjust all OHLC automatically
    # (optional, default is False)
    auto_adjust = True,

    # download pre/post regular market hours data
    # (optional, default is False)
    prepost = True,

    # use threads for mass downloading? (True/False/Integre)
    # (optional, default is True)
    threads = True,

    # proxy URL scheme use use when downloading?
    # (optional, default is None)
    proxy = None
)['Close']

data

[*********************100%***********************]  505 of 505 completed

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,XEL,XLNX,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2016-08-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-08-04,44.859657,32.367748,166.474274,24.859488,51.914848,81.499573,121.410004,40.911900,104.342308,97.089996,...,37.365917,47.331089,68.116341,61.319912,44.101528,58.396847,125.896202,56.599998,24.797720,49.816582
2016-08-05,45.491882,33.196705,166.777542,25.237530,52.260414,81.838432,120.250000,41.322754,105.159004,99.040001,...,36.813755,47.643986,68.178604,59.683170,44.505692,58.608185,126.367416,57.430000,25.835052,49.506504
2016-08-08,45.242836,33.109951,165.202637,25.446508,52.103336,81.215607,120.260002,41.103634,104.314796,98.489998,...,36.727482,47.459915,68.980629,58.633743,44.637291,58.839348,126.617477,57.990002,25.700918,49.225483
2016-08-09,45.453571,33.341293,162.874420,25.549829,52.433208,81.169815,123.330002,41.158421,103.580681,98.870003,...,36.796505,48.154598,69.066261,58.855183,45.050858,58.806332,127.992661,62.820000,25.754572,49.351460
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-07-28,151.460007,21.629999,212.250000,144.979996,118.550003,121.339996,323.799988,120.519997,316.309998,620.919983,...,68.699997,138.539993,58.220001,65.160004,122.930000,122.610001,162.559998,545.739990,52.360001,203.270004
2021-07-29,152.669998,21.170000,213.389999,145.639999,118.870003,122.709999,324.809998,121.089996,318.350006,621.700012,...,68.790001,147.250000,58.930000,65.400002,125.059998,130.309998,162.740005,548.099976,52.840000,204.119995
2021-07-30,153.229996,20.379999,212.059998,145.860001,116.300003,122.169998,327.140015,120.980003,317.679993,621.630005,...,68.250000,149.839996,57.570000,66.040001,125.849998,131.389999,163.419998,552.479980,52.150002,202.699997
2021-08-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-08-03,153.860001,19.950001,215.399994,147.360001,116.250000,123.709999,326.519989,122.120003,318.519989,621.280029,...,68.699997,146.460007,58.200001,65.339996,127.930000,133.419998,153.710007,546.739990,52.740002,204.100006

In [56]:
data.isnull().sum()

A       6
AAL     6
AAP     6
AAPL    6
ABBV    6
       ..
YUM     6
ZBH     6
ZBRA    6
ZION    6
ZTS     6
Length: 505, dtype: int64

In [58]:
data_cleaned = data.fillna(data.rolling(6, min_periods=1).mean())
data_cleaned

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,XEL,XLNX,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2016-08-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-08-04,44.859657,32.367748,166.474274,24.859488,51.914848,81.499573,121.410004,40.911900,104.342308,97.089996,...,37.365917,47.331089,68.116341,61.319912,44.101528,58.396847,125.896202,56.599998,24.797720,49.816582
2016-08-05,45.491882,33.196705,166.777542,25.237530,52.260414,81.838432,120.250000,41.322754,105.159004,99.040001,...,36.813755,47.643986,68.178604,59.683170,44.505692,58.608185,126.367416,57.430000,25.835052,49.506504
2016-08-08,45.242836,33.109951,165.202637,25.446508,52.103336,81.215607,120.260002,41.103634,104.314796,98.489998,...,36.727482,47.459915,68.980629,58.633743,44.637291,58.839348,126.617477,57.990002,25.700918,49.225483
2016-08-09,45.453571,33.341293,162.874420,25.549829,52.433208,81.169815,123.330002,41.158421,103.580681,98.870003,...,36.796505,48.154598,69.066261,58.855183,45.050858,58.806332,127.992661,62.820000,25.754572,49.351460
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-07-28,151.460007,21.629999,212.250000,144.979996,118.550003,121.339996,323.799988,120.519997,316.309998,620.919983,...,68.699997,138.539993,58.220001,65.160004,122.930000,122.610001,162.559998,545.739990,52.360001,203.270004
2021-07-29,152.669998,21.170000,213.389999,145.639999,118.870003,122.709999,324.809998,121.089996,318.350006,621.700012,...,68.790001,147.250000,58.930000,65.400002,125.059998,130.309998,162.740005,548.099976,52.840000,204.119995
2021-07-30,153.229996,20.379999,212.059998,145.860001,116.300003,122.169998,327.140015,120.980003,317.679993,621.630005,...,68.250000,149.839996,57.570000,66.040001,125.849998,131.389999,163.419998,552.479980,52.150002,202.699997
2021-08-02,151.512000,21.343999,213.431998,146.448001,117.894002,121.684000,324.541998,120.383998,318.242004,620.666003,...,68.701999,140.413998,58.206001,65.006002,124.373999,126.648000,162.241998,546.361987,52.102000,202.556000
2021-08-03,153.860001,19.950001,215.399994,147.360001,116.250000,123.709999,326.519989,122.120003,318.519989,621.280029,...,68.699997,146.460007,58.200001,65.339996,127.930000,133.419998,153.710007,546.739990,52.740002,204.100006

In [59]:
data_cleaned.isnull().sum()

A       1
AAL     1
AAP     1
AAPL    1
ABBV    1
       ..
YUM     1
ZBH     1
ZBRA    1
ZION    1
ZTS     1
Length: 505, dtype: int64

In [61]:
data_cleaned = data_cleaned.dropna()
data_cleaned.head()

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,XEL,XLNX,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2021-05-14,130.977844,22.400000,201.780090,127.449997,115.146317,116.519997,268.559998,117.861290,287.388763,486.559998,...,71.247643,118.000000,60.770000,67.713547,118.116089,118.775055,167.025803,486.730011,60.200001,172.072266
2021-05-17,129.939209,23.350000,203.541107,126.269997,115.601242,118.110001,267.950012,116.297241,286.192139,482.739990,...,70.333702,118.139999,62.189999,68.831619,117.258156,118.157639,165.567917,482.010010,60.270000,170.054825
2021-05-18,128.580994,23.559999,199.024155,124.849998,115.917717,116.949997,272.970001,116.536339,282.213379,480.619995,...,70.343636,117.809998,60.430000,67.304245,114.863907,118.794975,166.296860,477.549988,58.250000,169.895020
2021-05-19,130.039078,22.969999,193.591888,124.690002,114.572708,118.739998,273.980011,115.938606,280.179108,480.470001,...,70.105217,120.760002,58.980000,67.513885,112.908607,118.217384,165.517990,484.720001,57.419998,171.063553
2021-05-20,131.976517,22.600000,195.949844,127.309998,115.818817,120.040001,276.390015,117.353233,283.150726,491.670013,...,71.108566,123.989998,58.840000,67.833336,113.537094,119.442284,166.686279,493.880005,57.040001,175.577835

In [62]:
data_cleaned.isnull().sum()

A       0
AAL     0
AAP     0
AAPL    0
ABBV    0
       ..
YUM     0
ZBH     0
ZBRA    0
ZION    0
ZTS     0
Length: 505, dtype: int64

In [24]:
msft = yf.Ticker("MSFT")
opt = msft.option_chain("2021-08-06")

In [25]:
opt

Options(calls=         contractSymbol       lastTradeDate  strike  lastPrice     bid  \
0   MSFT210806C00175000 2021-08-02 16:40:30   175.0     110.82  111.65
1   MSFT210806C00180000 2021-07-26 14:12:41   180.0     107.40  106.55
2   MSFT210806C00185000 2021-07-27 14:36:58   185.0     100.80  101.65
3   MSFT210806C00190000 2021-07-27 14:40:10   190.0      95.70   96.50
4   MSFT210806C00195000 2021-07-27 16:33:57   195.0      90.00   91.45
5   MSFT210806C00200000 2021-07-28 15:58:16   200.0      86.80   86.40
6   MSFT210806C00205000 2021-07-27 16:41:00   205.0      79.95   81.50
7   MSFT210806C00210000 2021-07-30 18:55:47   210.0      74.65   76.45
8   MSFT210806C00220000 2021-08-02 15:52:24   220.0      66.15   66.50
9   MSFT210806C00225000 2021-07-30 19:54:40   225.0      59.85   61.45
10  MSFT210806C00230000 2021-08-03 16:11:50   230.0      56.87   56.55
11  MSFT210806C00235000 2021-08-02 17:24:39   235.0      50.40   51.45
12  MSFT210806C00237500 2021-07-29 16:01:55   237.5      48.93   49.05
13  MSFT210806C00240000 2021-07-30 13:47:45   240.0      45.10   46.50
14  MSFT210806C00242500 2021-07-30 18:15:00   242.5      42.03   44.00
15  MSFT210806C00245000 2021-08-02 16:20:21   245.0      40.50   41.55
16  MSFT210806C00247500 2021-07-30 13:44:00   247.5      37.60   39.00
17  MSFT210806C00250000 2021-07-30 19:35:20   250.0      36.00   36.50
18  MSFT210806C00252500 2021-07-29 13:43:36   252.5      32.15   34.05
19  MSFT210806C00255000 2021-08-02 18:56:40   255.0      31.50   31.50
20  MSFT210806C00257500 2021-07-30 18:17:49   257.5      28.55   29.00
21  MSFT210806C00260000 2021-08-03 15:54:50   260.0      26.55   26.60
22  MSFT210806C00262500 2021-08-03 15:31:43   262.5      24.15   24.10
23  MSFT210806C00265000 2021-08-03 15:32:38   265.0      20.00   21.45
24  MSFT210806C00267500 2021-08-02 16:43:41   267.5      19.27   19.05
25  MSFT210806C00270000 2021-08-03 16:14:51   270.0      16.85   16.60
26  MSFT210806C00272500 2021-08-03 16:22:05   272.5      14.26   14.10
27  MSFT210806C00275000 2021-08-03 16:20:54   275.0      11.72   11.60
28  MSFT210806C00277500 2021-08-03 16:10:38   277.5       9.50    9.20
29  MSFT210806C00280000 2021-08-03 16:26:05   280.0       6.75    6.80
30  MSFT210806C00282500 2021-08-03 16:27:57   282.5       4.60    4.70
31  MSFT210806C00285000 2021-08-03 16:32:58   285.0       2.82    2.83
32  MSFT210806C00287500 2021-08-03 16:34:53   287.5       1.47    1.45
33  MSFT210806C00290000 2021-08-03 16:32:47   290.0       0.63    0.62
34  MSFT210806C00292500 2021-08-03 16:34:27   292.5       0.27    0.26
35  MSFT210806C00295000 2021-08-03 16:31:53   295.0       0.11    0.11
36  MSFT210806C00297500 2021-08-03 16:35:10   297.5       0.06    0.06
37  MSFT210806C00300000 2021-08-03 16:29:10   300.0       0.04    0.04
38  MSFT210806C00302500 2021-08-03 15:31:46   302.5       0.03    0.03
39  MSFT210806C00305000 2021-08-03 15:55:45   305.0       0.02    0.02
40  MSFT210806C00307500 2021-08-03 14:45:45   307.5       0.03    0.02
41  MSFT210806C00310000 2021-08-03 15:57:30   310.0       0.02    0.01
42  MSFT210806C00315000 2021-08-03 16:34:29   315.0       0.01    0.01
43  MSFT210806C00320000 2021-08-03 15:11:55   320.0       0.01    0.00
44  MSFT210806C00325000 2021-08-03 15:09:08   325.0       0.01    0.00
45  MSFT210806C00330000 2021-08-02 18:59:25   330.0       0.01    0.00
46  MSFT210806C00335000 2021-08-03 15:27:04   335.0       0.01    0.00
47  MSFT210806C00340000 2021-07-30 18:42:11   340.0       0.01    0.00
48  MSFT210806C00345000 2021-08-03 15:36:02   345.0       0.01    0.00

       ask    change  percentChange   volume  openInterest  impliedVolatility  \
0   111.80  0.000000       0.000000      3.0            33           1.437503
1   106.75  0.000000       0.000000      NaN            13           1.593752
2   101.80  0.000000       0.000000      1.0            78           1.281254
3    96.85  0.000000       0.000000      9.0            43           1.675783
4    91.85  0.000000       0.000000     30.0            65           1.578127
5    86.95  0.000000       0.000000      1.0            27           1.605471
6    81.90  0.000000       0.000000     21.0            23           1.457034
7    76.85  0.000000       0.000000      9.0            34           1.304691
8    66.85  0.000000       0.000000      2.0             5           1.130864
9    61.80  0.000000       0.000000      1.0             5           0.980469
10   56.85  2.419998       4.444441      2.0             8           0.960938
11   51.85 -0.629997      -1.234563      1.0             2           0.878907
12   49.75  0.000000       0.000000     30.0             2           0.878907
13   46.85  0.000000       0.000000      1.0            36           0.796877
14   44.30  0.000000       0.000000     29.0            36           0.707034
15   41.90  0.000000       0.000000      3.0            24           0.500005
16   39.35  0.000000       0.000000      1.0            18           0.675784
17   36.85  0.970001       2.769059      1.0            58           0.636722
18   34.40  0.000000       0.000000      1.0            42           0.627933
19   32.05  0.629999       2.040813      5.0            67           0.654300
20   29.75  0.500000       1.782531      2.0            53           0.532231
21   26.90  1.479999       5.903469      5.0           250           0.503911
22   24.55  0.900000       3.870966     21.0           143           0.520024
23   22.10 -0.200001      -0.990103      2.0           314           0.489263
24   19.45  0.900000       4.899290      1.0           115           0.397955
25   17.05  1.220000       7.805504    123.0           532           0.383307
26   14.45  1.210000       9.272031      5.0           224           0.310554
27   11.95  1.770001      17.788950    295.0           921           0.266121
28    9.45  1.950000      25.827812     94.0           729           0.220223
29    7.10  1.400000      26.168228   1202.0          1314           0.199715
30    4.80  1.200000      35.294113    788.0          1674           0.170663
31    2.92  0.970000      52.432426  10109.0          5405           0.162484
32    1.48  0.620000      72.941170   8919.0          8394           0.153817
33    0.65  0.250000      65.789474   6684.0          9110           0.153085
34    0.27  0.110000      68.750015   3550.0          4671           0.158700
35    0.12  0.030000      37.500004   3434.0          6259           0.169930
36    0.07  0.000000       0.000000    630.0          3839           0.189461
37    0.05  0.000000       0.000000    767.0          7660           0.212898
38    0.04  0.000000       0.000000    149.0          6051           0.236336
39    0.03 -0.010000     -33.333336    127.0          1867           0.257820
40    0.03  0.010000      50.000000     13.0           157           0.287117
41    0.03  0.010000     100.000000    120.0          1373           0.316413
42    0.03 -0.010000     -50.000000     24.0           714           0.371100
43    0.01  0.000000       0.000000     11.0           606           0.375006
44    0.01 -0.010000     -50.000000    131.0           494           0.421881
45    0.02  0.000000       0.000000      2.0           460           0.507817
46    0.01 -0.010000     -50.000000      6.0           266           0.515630
47    0.02  0.000000       0.000000      4.0          1072           0.562504
48    0.02  0.000000       0.000000      1.0           782           0.609379

    inTheMoney contractSize currency
0         True      REGULAR      USD
1         True      REGULAR      USD
2         True      REGULAR      USD
3         True      REGULAR      USD
4         True      REGULAR      USD
5         True      REGULAR      USD
6         True      REGULAR      USD
7         True      REGULAR      USD
8         True      REGULAR      USD
9         True      REGULAR      USD
10        True      REGULAR      USD
11        True      REGULAR      USD
12        True      REGULAR      USD
13        True      REGULAR      USD
14        True      REGULAR      USD
15        True      REGULAR      USD
16        True      REGULAR      USD
17        True      REGULAR      USD
18        True      REGULAR      USD
19        True      REGULAR      USD
20        True      REGULAR      USD
21        True      REGULAR      USD
22        True      REGULAR      USD
23        True      REGULAR      USD
24        True      REGULAR      USD
25        True      REGULAR      USD
26        True      REGULAR      USD
27        True      REGULAR      USD
28        True      REGULAR      USD
29        True      REGULAR      USD
30        True      REGULAR      USD
31        True      REGULAR      USD
32       False      REGULAR      USD
33       False      REGULAR      USD
34       False      REGULAR      USD
35       False      REGULAR      USD
36       False      REGULAR      USD
37       False      REGULAR      USD
38       False      REGULAR      USD
39       False      REGULAR      USD
40       False      REGULAR      USD
41       False      REGULAR      USD
42       False      REGULAR      USD
43       False      REGULAR      USD
44       False      REGULAR      USD
45       False      REGULAR      USD
46       False      REGULAR      USD
47       False      REGULAR      USD
48       False      REGULAR      USD  , puts=         contractSymbol       lastTradeDate  strike  lastPrice    bid    ask  \
0   MSFT210806P00175000 2021-07-30 16:40:34   175.0       0.01   0.00   0.05
1   MSFT210806P00180000 2021-07-19 16:08:14   180.0       0.06   0.00   0.01
2   MSFT210806P00185000 2021-07-27 19:29:30   185.0       0.02   0.00   0.05
3   MSFT210806P00190000 2021-07-19 17:13:32   190.0       0.03   0.00   0.05
4   MSFT210806P00195000 2021-07-26 14:52:22   195.0       0.02   0.00   0.05
5   MSFT210806P00200000 2021-07-26 14:39:40   200.0       0.03   0.00   0.05
6   MSFT210806P00205000 2021-08-02 19:31:17   205.0       0.01   0.00   0.05
7   MSFT210806P00210000 2021-07-27 15:47:05   210.0       0.02   0.00   0.05
8   MSFT210806P00215000 2021-08-02 14:31:00   215.0       0.01   0.00   0.04
9   MSFT210806P00220000 2021-08-02 13:59:23   220.0       0.01   0.00   0.04
10  MSFT210806P00225000 2021-07-27 19:00:11   225.0       0.01   0.00   0.04
11  MSFT210806P00230000 2021-08-02 14:30:39   230.0       0.01   0.00   0.01
12  MSFT210806P00232500 2021-08-02 18:19:02   232.5       0.01   0.00   0.04
13  MSFT210806P00235000 2021-08-02 19:29:42   235.0       0.01   0.00   0.04
14  MSFT210806P00237500 2021-08-03 16:03:34   237.5       0.01   0.00   0.04
15  MSFT210806P00240000 2021-08-03 14:02:03   240.0       0.01   0.01   0.02
16  MSFT210806P00242500 2021-07-30 19:47:51   242.5       0.03   0.01   0.04
17  MSFT210806P00245000 2021-08-03 15:26:53   245.0       0.02   0.01   0.03
18  MSFT210806P00247500 2021-08-03 16:33:16   247.5       0.01   0.01   0.03
19  MSFT210806P00250000 2021-08-03 15:26:18   250.0       0.02   0.01   0.03
20  MSFT210806P00252500 2021-08-02 16:20:41   252.5       0.02   0.01   0.03
21  MSFT210806P00255000 2021-08-03 15:25:39   255.0       0.03   0.02   0.05
22  MSFT210806P00257500 2021-08-03 16:28:27   257.5       0.03   0.03   0.05
23  MSFT210806P00260000 2021-08-03 14:31:52   260.0       0.05   0.03   0.04
24  MSFT210806P00262500 2021-08-03 16:15:24   262.5       0.04   0.03   0.05
25  MSFT210806P00265000 2021-08-03 16:18:13   265.0       0.05   0.04   0.06
26  MSFT210806P00267500 2021-08-03 16:15:25   267.5       0.06   0.05   0.07
27  MSFT210806P00270000 2021-08-03 16:14:56   270.0       0.06   0.06   0.08
28  MSFT210806P00272500 2021-08-03 16:17:11   272.5       0.08   0.07   0.10
29  MSFT210806P00275000 2021-08-03 16:22:14   275.0       0.12   0.12   0.13
30  MSFT210806P00277500 2021-08-03 16:28:32   277.5       0.18   0.17   0.19
31  MSFT210806P00280000 2021-08-03 16:34:01   280.0       0.29   0.28   0.30
32  MSFT210806P00282500 2021-08-03 16:31:29   282.5       0.57   0.55   0.59
33  MSFT210806P00285000 2021-08-03 16:34:23   285.0       1.10   1.11   1.15
34  MSFT210806P00287500 2021-08-03 16:35:03   287.5       2.19   2.17   2.25
35  MSFT210806P00290000 2021-08-03 16:27:53   290.0       4.10   3.85   3.95
36  MSFT210806P00292500 2021-08-03 14:26:11   292.5       7.03   5.95   6.20
37  MSFT210806P00295000 2021-08-03 16:00:14   295.0       8.35   8.25   8.55
38  MSFT210806P00297500 2021-08-02 19:39:08   297.5      12.55  10.80  11.10
39  MSFT210806P00300000 2021-08-02 16:55:01   300.0      15.05  13.25  13.50
40  MSFT210806P00302500 2021-07-28 14:00:18   302.5      14.85  15.75  16.00
41  MSFT210806P00305000 2021-07-30 19:54:50   305.0      21.00  18.15  18.60
42  MSFT210806P00310000 2021-07-22 16:21:20   310.0      25.55  23.20  23.55
43  MSFT210806P00315000 2021-07-23 13:31:05   315.0      27.34  28.20  28.65
44  MSFT210806P00320000 2021-07-19 14:10:07   320.0      42.50  33.20  33.70
45  MSFT210806P00325000 2021-07-19 13:53:59   325.0      46.95  38.15  38.50
46  MSFT210806P00330000 2021-07-19 14:03:55   330.0      52.10  43.15  43.45
47  MSFT210806P00335000 2021-08-02 13:32:49   335.0      49.20  48.20  48.40
48  MSFT210806P00345000 2021-07-28 13:42:41   345.0      59.95  58.20  58.40

      change  percentChange  volume  openInterest  impliedVolatility  \
0   0.000000       0.000000     2.0             6           1.656252
1   0.000000       0.000000     2.0             2           1.375003
2   0.000000       0.000000    10.0            10           1.484378
3   0.000000       0.000000     1.0             4           1.398441
4   0.000000       0.000000     9.0            18           1.312503
5   0.000000       0.000000   100.0           230           1.234379
6   0.000000       0.000000     5.0           105           1.156254
7   0.000000       0.000000     1.0            10           1.078130
8   0.000000       0.000000     4.0            57           0.984375
9   0.000000       0.000000    22.0            47           0.914063
10  0.000000       0.000000   161.0           170           0.843752
11  0.000000       0.000000     6.0           254           0.687503
12  0.000000       0.000000    17.0            64           0.734378
13  0.000000       0.000000     2.0            52           0.703128
14  0.000000       0.000000     3.0           224           0.671878
15 -0.010000     -50.000000     3.0           510           0.617191
16  0.000000       0.000000     7.0           333           0.617191
17  0.000000       0.000000     1.0           463           0.570317
18  0.000000       0.000000    11.0           594           0.535161
19 -0.010000     -33.333336    17.0          1693           0.500005
20  0.000000       0.000000    32.0           437           0.492193
21  0.010000      50.000000    18.0           759           0.486333
22 -0.010000     -25.000000    18.0           617           0.451177
23  0.020000      66.666670     1.0          1552           0.402350
24 -0.010000     -20.000002    78.0          1543           0.378912
25  0.000000       0.000000   329.0          2306           0.353522
26  0.000000       0.000000   107.0          1544           0.324226
27 -0.020000     -25.000000   233.0          2567           0.292976
28 -0.030000     -27.272728   248.0          2078           0.264656
29 -0.050000     -29.411766   688.0          2520           0.235847
30 -0.090000     -33.333336   594.0          2683           0.210945
31 -0.270000     -48.214290  3028.0          4932           0.186287
32 -0.560000     -49.557520  2723.0          2243           0.171883
33 -1.020000     -48.113200  5983.0          6382           0.157967
34 -1.310000     -37.428570   750.0          2707           0.152963
35 -0.960000     -18.972332    58.0           857           0.155282
36 -0.200000      -2.766249     2.0           244           0.182137
37 -1.170000     -12.289916     1.0           244           0.205330
38  0.150001       1.209682     1.0           148           0.259773
39  0.570001       3.936469     1.0           160           0.278328
40  0.000000       0.000000     2.0             3           0.317390
41  0.000000       0.000000     5.0            20           0.384284
42  0.000000       0.000000     NaN             2           0.445318
43  0.000000       0.000000     8.0            11           0.549809
44  0.000000       0.000000     NaN             5           0.541020
45  0.000000       0.000000     NaN             8           0.501958
46  0.000000       0.000000     NaN            17           0.507817
47  0.000000       0.000000     1.0            10           0.554692
48  0.000000       0.000000     2.0             0           0.648441

    inTheMoney contractSize currency
0        False      REGULAR      USD
1        False      REGULAR      USD
2        False      REGULAR      USD
3        False      REGULAR      USD
4        False      REGULAR      USD
5        False      REGULAR      USD
6        False      REGULAR      USD
7        False      REGULAR      USD
8        False      REGULAR      USD
9        False      REGULAR      USD
10       False      REGULAR      USD
11       False      REGULAR      USD
12       False      REGULAR      USD
13       False      REGULAR      USD
14       False      REGULAR      USD
15       False      REGULAR      USD
16       False      REGULAR      USD
17       False      REGULAR      USD
18       False      REGULAR      USD
19       False      REGULAR      USD
20       False      REGULAR      USD
21       False      REGULAR      USD
22       False      REGULAR      USD
23       False      REGULAR      USD
24       False      REGULAR      USD
25       False      REGULAR      USD
26       False      REGULAR      USD
27       False      REGULAR      USD
28       False      REGULAR      USD
29       False      REGULAR      USD
30       False      REGULAR      USD
31       False      REGULAR      USD
32       False      REGULAR      USD
33       False      REGULAR      USD
34        True      REGULAR      USD
35        True      REGULAR      USD
36        True      REGULAR      USD
37        True      REGULAR      USD
38        True      REGULAR      USD
39        True      REGULAR      USD
40        True      REGULAR      USD
41        True      REGULAR      USD
42        True      REGULAR      USD
43        True      REGULAR      USD
44        True      REGULAR      USD
45        True      REGULAR      USD
46        True      REGULAR      USD
47        True      REGULAR      USD
48        True      REGULAR      USD  )