In [1]:
import numpy as np
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt
from datetime import date
import questionary

In [2]:
stocks = ['AAPL', 'AMZN', 'FB', 'TSLA', '^GSPC']

start_date = '2010-01-01'

end_date = '2017-01-01'

data = {}

for stock in stocks:
    ticker = yf.download(stock, start_date, end_date)
    # Adjusted Closing Price takes into account factors such as dividends, stock splits, etc.
    # Adjusted Closing Price is a more accurate reflection of the stock's value
    data[stock] = ticker['Adj Close']

pd.DataFrame(data)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

                 AAPL        AMZN          FB       TSLA        ^GSPC
Date
2010-01-04   6.562591  133.899994         NaN        NaN  1132.989990
2010-01-05   6.573935  134.690002         NaN        NaN  1136.520020
2010-01-06   6.469369  132.250000         NaN        NaN  1137.140015
2010-01-07   6.457407  130.000000         NaN        NaN  1141.689941
2010-01-08   6.500339  133.520004         NaN        NaN  1144.979980
...               ...         ...         ...        ...          ...
2016-12-23  27.459557  760.590027  117.269997  42.667999  2263.790039
2016-12-27  27.633949  771.400024  118.010002  43.905998  2268.879883
2016-12-28  27.516117  772.130005  116.919998  43.948002  2249.919922
2016-12-29  27.509048  765.150024  116.349998  42.936001  2249.260010
2016-12-30  27.294590  749.869995  115.050003  42.737999  2238.830078

[1762 rows x 5 columns]

In [3]:
stocks_data = pd.DataFrame(data)

stocks_data = stocks_data.fillna(stocks_data.rolling(6, min_periods=1).mean())
stocks_data = stocks_data.dropna()

stocks_data = stocks_data.resample('M').last()
stocks_data

                 AAPL        AMZN          FB       TSLA        ^GSPC
Date
2012-05-31  17.716019  212.910004   29.600000   5.900000  1310.329956
2012-06-30  17.908285  228.350006   31.100000   6.258000  1362.160034
2012-07-31  18.728878  233.300003   21.709999   5.484000  1379.319946
2012-08-31  20.487083  248.270004   18.059999   5.704000  1406.579956
2012-09-30  20.544365  254.320007   21.660000   5.856000  1440.670044
2012-10-31  18.333790  232.889999   21.110001   5.626000  1412.160034
2012-11-30  18.106920  252.050003   28.000000   6.764000  1416.180054
2012-12-31  16.463844  250.869995   26.620001   6.774000  1426.189941
2013-01-31  14.091583  265.500000   30.980000   7.502000  1498.109985
2013-02-28  13.735263  264.269989   27.250000   6.966000  1514.680054
2013-03-31  13.774471  266.489990   25.580000   7.578000  1569.189941
2013-04-30  13.778205  253.809998   27.770000  10.798000  1597.569946
2013-05-31  14.087103  269.200012   24.350000  19.552000  1630.739990
2013-06-30  12.420693  277.690002   24.879999  21.472000  1606.280029
2013-07-31  14.174808  301.220001   36.799999  26.856001  1685.729980
2013-08-31  15.362185  280.980011   41.290001  33.799999  1632.969971
2013-09-30  15.032064  312.640015   50.230000  38.674000  1681.550049
2013-10-31  16.480879  364.029999   50.209999  31.988001  1756.540039
2013-11-30  17.635420  393.619995   47.009998  25.455999  1805.810059
2013-12-31  17.792400  398.790009   54.650002  30.086000  1848.359985
2014-01-31  15.876214  358.690002   62.570000  36.282001  1782.589966
2014-02-28  16.789272  362.100006   68.459999  48.962002  1859.449951
2014-03-31  17.124273  336.369995   60.240002  41.689999  1872.339966
2014-04-30  18.826351  304.130005   59.779999  41.577999  1883.949951
2014-05-31  20.308167  312.549988   63.299999  41.554001  1923.569946
2014-06-30  20.869930  324.779999   67.290001  48.012001  1960.229980
2014-07-31  21.469545  312.989990   72.650002  44.660000  1930.670044
2014-08-31  23.133631  339.040009   74.820000  53.939999  2003.369995
2014-09-30  22.738665  322.440002   79.040001  48.535999  1972.290039
2014-10-31  24.374943  305.459991   74.989998  48.340000  2018.050049
2014-11-30  26.958164  338.640015   77.699997  48.903999  2067.560059
2014-12-31  25.020117  310.350006   78.019997  44.481998  2058.899902
2015-01-31  26.556961  354.529999   75.910004  40.720001  1994.989990
2015-02-28  29.233278  380.160004   78.970001  40.667999  2104.500000
2015-03-31  28.316185  372.100006   82.220001  37.754002  2067.889893
2015-04-30  28.480028  421.779999   78.769997  45.209999  2085.510010
2015-05-31  29.771284  429.230011   79.190002  50.160000  2107.389893
2015-06-30  28.662977  434.089996   85.769997  53.652000  2063.110107
2015-07-31  27.719204  536.150024   94.010002  53.230000  2103.840088
2015-08-31  25.884296  512.890015   89.430000  49.812000  1972.180054
2015-09-30  25.319597  511.890015   89.900002  49.680000  1920.030029
2015-10-31  27.431480  625.900024  101.970001  41.386002  2079.360107
2015-11-30  27.272253  664.799988  104.239998  46.051998  2080.409912
2015-12-31  24.266081  675.890015  104.660004  48.001999  2043.939941
2016-01-31  22.440245  587.000000  112.209999  38.240002  1940.239990
2016-02-29  22.411352  552.520020  106.919998  38.386002  1932.229980
2016-03-31  25.262314  593.640015  114.099998  45.953999  2059.739990
2016-04-30  21.727583  659.590027  117.580002  48.152000  2065.300049
2016-05-31  23.287041  722.789978  118.809998  44.646000  2096.949951
2016-06-30  22.293617  715.619995  114.279999  42.456001  2098.860107
2016-07-31  24.301443  758.809998  123.940002  46.958000  2173.600098
2016-08-31  24.876219  769.159973  126.120003  42.402000  2170.949951
2016-09-30  26.505720  837.309998  128.270004  40.806000  2168.270020
2016-10-31  26.620598  789.820007  130.990005  39.546001  2126.149902
2016-11-30  26.045574  750.570007  118.419998  37.880001  2198.810059
2016-12-31  27.294590  749.869995  115.050003  42.737999  2238.830078

In [4]:
sp500 = stocks_data.iloc[:,-1]
sp500 = pd.DataFrame(sp500)

In [5]:
sp500.head()

                  ^GSPC
Date
2012-05-31  1310.329956
2012-06-30  1362.160034
2012-07-31  1379.319946
2012-08-31  1406.579956
2012-09-30  1440.670044

In [6]:
sp500['market_adjclose'] = sp500.sum(axis=1)
sp500.head()

                  ^GSPC  market_adjclose
Date
2012-05-31  1310.329956      1310.329956
2012-06-30  1362.160034      1362.160034
2012-07-31  1379.319946      1379.319946
2012-08-31  1406.579956      1406.579956
2012-09-30  1440.670044      1440.670044

In [7]:
stocks = stocks_data.iloc[:,:-1]
stocks = pd.DataFrame(stocks)
stocks.head()

                 AAPL        AMZN         FB   TSLA
Date
2012-05-31  17.716019  212.910004  29.600000  5.900
2012-06-30  17.908285  228.350006  31.100000  6.258
2012-07-31  18.728878  233.300003  21.709999  5.484
2012-08-31  20.487083  248.270004  18.059999  5.704
2012-09-30  20.544365  254.320007  21.660000  5.856

In [8]:
weights = [0.25, 0.3, 0.1, 0.4]
print(weights)

[0.25, 0.3, 0.1, 0.4]

In [9]:
stocks_norm_weight = np.log(stocks) 
stocks_norm_weight.head()

                AAPL      AMZN        FB      TSLA
Date
2012-05-31  2.874469  5.360870  3.387774  1.774952
2012-06-30  2.885263  5.430880  3.437208  1.833861
2012-07-31  2.930067  5.452325  3.077773  1.701835
2012-08-31  3.019795  5.514517  2.893700  1.741168
2012-09-30  3.022587  5.538593  3.075467  1.767467

In [ ]:
weighted_stocks = stocks.mul(weights)
weighted_stocks.head()

In [ ]:
# we have to have a sector return value to compare against the market return
# so we sum up all the stocks in the sector per day to figure out the daily_return compared to the market
stocks['sector_adjclose'] = stocks.sum(axis=1)
stocks.head()

In [ ]:
data = pd.DataFrame({'stock_adjclose':stocks['sector_adjclose'], 'market_adjclose':sp500['market_adjclose']})
data.head()

In [ ]:
    def initialize(self):
            stocks_data = self.download_data()
            # we use monthly returns ('M') instead of daily returns
            stocks_data = stocks_data.resample('M').last()

            # create a pandas dataframe to store stock information for analysis
            self.data = pd.DataFrame({'stock_adjclose':stocks_data[self.stocks[0]], 'market_adjclose':stocks_data[self.stocks[-1]]})

            # add 2 columns for the s_returns and m_returns
            # logarithmic monthly returns
            self.data[['stock_returns', 'market_returns']] = np.log(self.data[['stock_adjclose', 'market_adjclose']] / self.data[['stock_adjclose', 'market_adjclose']].shift(1))

            # remove NaN values
            self.data =  self.data[1:]

            print(self.data)