In [1]:
import pandas as pd
import sqlalchemy as sql
import os
import questionary
import yfinance as yf
from pathlib import Path
import csv
import fire
import requests
import numpy as np
import matplotlib.pyplot as plt
import scipy.optimize as optimization
import datetime as dt
from datetime import date

In [2]:
list_1 = [('GE',), ('UPS',), ('HON',), ('UNP',), ('BA',)]

In [3]:
list_1

[('GE',), ('UPS',), ('HON',), ('UNP',), ('BA',)]

In [4]:
def clean_stock_list(list_1):
    clean_stocks = []
    for ch in ["(",",)"]:
        if ch in list_1:
            stocks = stocks.replace(ch,"")
            clean_stocks.append(stocks)
    return clean_stocks

In [5]:
clean_stock_list(list_1)

[]

In [6]:
def sectors(): 
    csvpath = Path("resources/stock_industry_marketcap.csv")
    sp500_csv = pd.read_csv(csvpath)
    sector = "GICS Sector"
    sp500_sectors = sp500_csv[sector].drop_duplicates().to_list()
    print(sp500_sectors)
    return sp500_sectors

In [7]:
def generate_tickers(sectors):
    # Create a database connection string that links an in-memory database
    database_connection_string = 'sqlite:///stock_industry_top5.db'

    # Database connection object
    engine = sql.create_engine(database_connection_string)

    # Confirm the engine was created
    engine
    
    stocks_df = pd.read_csv(
    Path('resources/stock_industry_marketcap.csv')
    )

    stocks_df.to_sql('stock_industry_marketcap', engine, index=False, if_exists='replace')

    sql_stock_df = pd.read_sql_table('stock_industry_marketcap', con=engine)
   
    l1 = sectors[0]
    top5_1 = f"""
    SELECT Symbol, `GICS Sector`
    FROM stock_industry_marketcap
    WHERE `GICS Sector` = '{l1}'
    ORDER BY Market_Cap DESC
    LIMIT 5
    """
    results_1 = engine.execute(top5_1)
    data_1 = pd.DataFrame(results_1)

    l2 = sectors[1]
    top5_2 = f"""
    SELECT Symbol, `GICS Sector`
    FROM stock_industry_marketcap
    WHERE `GICS Sector` = '{l2}'
    ORDER BY Market_Cap DESC
    LIMIT 5
    """
    results_2 = engine.execute(top5_2)
    data_2 = pd.DataFrame(results_2)

    l3 = sectors[2]
    top5_3 = f"""
    SELECT Symbol, `GICS Sector`
    FROM stock_industry_marketcap
    WHERE `GICS Sector` = '{l3}'
    ORDER BY Market_Cap DESC
    LIMIT 5
    """
    results_3 = engine.execute(top5_3)
    data_3 = pd.DataFrame(results_3)

    l4 = sectors[3]
    top5_4 = f"""
    SELECT Symbol, `GICS Sector`
    FROM stock_industry_marketcap
    WHERE `GICS Sector` = '{l4}'
    ORDER BY Market_Cap DESC
    LIMIT 5
    """
    results_4 = engine.execute(top5_4)
    data_4 = pd.DataFrame(results_4)

    l5 = sectors[4]
    top5_5 = f"""
    SELECT Symbol, `GICS Sector`
    FROM stock_industry_marketcap
    WHERE `GICS Sector` = '{l5}'
    ORDER BY Market_Cap DESC
    LIMIT 5
    """
    results_5 = engine.execute(top5_5)
    data_5 = pd.DataFrame(results_5)

    l6 = sectors[5]
    top5_6 = f"""
    SELECT Symbol, `GICS Sector`
    FROM stock_industry_marketcap
    WHERE `GICS Sector` = '{l6}'
    ORDER BY Market_Cap DESC
    LIMIT 5
    """
    results_6 = engine.execute(top5_6)
    data_6 = pd.DataFrame(results_6)

    l7 = sectors[6]
    top5_7 = f"""
    SELECT Symbol, `GICS Sector`
    FROM stock_industry_marketcap
    WHERE `GICS Sector` = '{l7}'
    ORDER BY Market_Cap DESC
    LIMIT 5
    """
    results_7 = engine.execute(top5_7)
    data_7 = pd.DataFrame(results_7)

    l8 = sectors[7]
    top5_8 = f"""
    SELECT Symbol, `GICS Sector`
    FROM stock_industry_marketcap
    WHERE `GICS Sector` = '{l8}'
    ORDER BY Market_Cap DESC
    LIMIT 5
    """
    results_8 = engine.execute(top5_8)
    data_8 = pd.DataFrame(results_8)

    l9 = sectors[8]
    top5_9 = f"""
    SELECT Symbol, `GICS Sector`
    FROM stock_industry_marketcap
    WHERE `GICS Sector` = '{l9}'
    ORDER BY Market_Cap DESC
    LIMIT 5
    """
    results_9 = engine.execute(top5_9)
    data_9 = pd.DataFrame(results_9)

    l10 = sectors[9]
    top5_10 = f"""
    SELECT Symbol, `GICS Sector`
    FROM stock_industry_marketcap
    WHERE `GICS Sector` = '{l10}'
    ORDER BY Market_Cap DESC
    LIMIT 5
    """
    results_10 = engine.execute(top5_10)
    data_10 = pd.DataFrame(results_10)

    l11 = sectors[10]
    top5_11 = f"""
    SELECT Symbol, `GICS Sector`
    FROM stock_industry_marketcap
    WHERE `GICS Sector` = '{l11}'
    ORDER BY Market_Cap DESC
    LIMIT 5
    """
    results_11 = engine.execute(top5_11)
    data_11 = pd.DataFrame(results_11)

    clean_symbols = pd.concat([data_1, data_2, data_3, data_4, data_5, data_6, data_7, data_8, data_9, data_10, data_11], axis="rows", join="inner")
    columns = ['Symbol', 'Sector']
    clean_symbols.columns = columns
    # symbols = clean_symbols[0].tolist()
    # print(len(clean_symbols))
    return pd.DataFrame(clean_symbols)

In [8]:
def sectors_to_list(dataset):
    symbols = dataset['Symbol'].tolist()
    return symbols

In [9]:
def download_data(stocks):
    stock_data = yf.download(
        #tickers list or string as well
        tickers = stocks,

        # use "period" instead of start/end
        # valid periods: 1d, 5d, 1mo, 3mo, 6mo, 1y, 2y, 5y, 10y, ytd, max
        # (optional, default is "1mo")
        period = "1y",

        # fetch data by interval (including intraday if period < 60 days)
        # valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
        # (optional, default is '1d')
        interval = '1d',

        # adjust all OHLC automatically
        # (optional, default is False)
        auto_adjust = True,

        # download pre/post regular market hours data
        # (optional, default is False)
        prepost = True,

        # use threads for mass downloading? (True/False/Integre)
        # (optional, default is True)
        threads = True,

        # proxy URL scheme use use when downloading?
        # (optional, default is None)
        proxy = None
    )['Close']

    data_cleaned = stock_data.fillna(stock_data.rolling(6, min_periods=1).mean())
    data_cleaned = data_cleaned.dropna()

    # print(data_cleaned.head())
    return pd.DataFrame(data_cleaned)

In [10]:
def rolling_year_returns(dataset):
    daily_returns = dataset.pct_change()
    cumulative_return = (1 + daily_returns).cumprod() - 1
    cumulative_return = cumulative_return.dropna()
    annual_stock_return = cumulative_return.tail(1) * 100
    annual_stock_return = annual_stock_return.T
    annual_stock_return = annual_stock_return.reset_index()
    columns = ['Symbol','Annual_Return']
    annual_stock_return.columns = columns
    print(len(annual_stock_return))
    return annual_stock_return

In [11]:
def concat_dataframe(annual_stock_return, df, symbols):
    annual_stock_return = annual_stock_return.set_index('Symbol')
    df = df.set_index('Symbol')

    keys = symbols
    joined_df = pd.concat([annual_stock_return, df], axis="columns", join="inner", keys=keys)
    
    print(joined_df.head())
    return joined_df

In [12]:
if __name__ == "__main__":
    all_sectors = sectors()

    df = generate_tickers(all_sectors)

    symbols = sectors_to_list(df)

    dataset = download_data(symbols)

    annual_stock_return = rolling_year_returns(dataset)

    all_df = concat_dataframe(annual_stock_return, df, symbols)

['Industrials', 'Health Care', 'Information Technology', 'Communication Services', 'Consumer Discretionary', 'Utilities', 'Financials', 'Materials', 'Real Estate', 'Consumer Staples', 'Energy']
[*********************100%***********************]  55 of 55 completed
55
                  GE                     UPS
       Annual_Return                  Sector
Symbol
AAPL       33.976216  Information Technology
AMT        14.120524             Real Estate
AMZN        7.790838  Consumer Discretionary
APD         0.675241               Materials
BA         30.894350             Industrials

In [13]:
all_df.columns = all_df.columns.droplevel(0)
all_df = all_df.reset_index()
all_df = all_df.sort_values('Sector')
all_df

   Symbol  Annual_Return                  Sector
24  GOOGL      84.806883  Communication Services
23   GOOG      86.576553  Communication Services
20     FB      40.994807  Communication Services
8   CMCSA      38.494789  Communication Services
14    DIS      35.696222  Communication Services
25     HD      23.276768  Consumer Discretionary
2    AMZN       7.790838  Consumer Discretionary
47   TSLA     158.292775  Consumer Discretionary
33    MCD      16.574353  Consumer Discretionary
37    NKE      65.240186  Consumer Discretionary
53    WMT      16.016448        Consumer Staples
29     KO      22.319088        Consumer Staples
10   COST      37.846389        Consumer Staples
40     PG       9.400789        Consumer Staples
38    PEP      17.712361        Consumer Staples
17    EOG      44.708934                  Energy
54    XOM      39.406563                  Energy
11    CVX      20.358201                  Energy
9     COP      47.552662                  Energy
45    SLB      43.014847                  Energy
34     MS     101.864607              Financials
6       C      40.611622              Financials
5     BAC      57.372609              Financials
52    WFC      98.826727              Financials
28    JPM      57.760898              Financials
31    LLY      82.233897             Health Care
48    UNH      32.455679             Health Care
39    PFE      39.874140             Health Care
27    JNJ      21.348741             Health Care
13    DHR      54.964428             Health Care
22     GE      97.831555             Industrials
50    UPS      25.214214             Industrials
49    UNP      18.719616             Industrials
4      BA      30.894350             Industrials
26    HON      47.442165             Industrials
51      V      21.103940  Information Technology
43   PYPL      45.146271  Information Technology
0    AAPL      33.976216  Information Technology
35   MSFT      42.203490  Information Technology
32     MA      12.500089  Information Technology
30    LIN      25.149411               Materials
44    SHW      37.275850               Materials
16    ECL      12.644905               Materials
21    FCX     174.969573               Materials
3     APD       0.675241               Materials
41    PLD      31.646212             Real Estate
1     AMT      14.120524             Real Estate
42    PSA      61.578857             Real Estate
18   EQIX       6.873465             Real Estate
7     CCI      21.789507             Real Estate
15    DUK      33.165415               Utilities
12      D       0.982619               Utilities
36    NEE      18.325997               Utilities
19    EXC      30.317748               Utilities
46     SO      25.550058               Utilities

In [14]:
industrials_ann_sum = all_df.groupby(['Sector']).sum()
industrials_ann_sum

                        Annual_Return
Sector
Communication Services     286.569253
Consumer Discretionary     271.174921
Consumer Staples           103.295076
Energy                     195.041206
Financials                 356.436463
Health Care                230.876885
Industrials                220.101900
Information Technology     154.930006
Materials                  250.714979
Real Estate                136.008565
Utilities                  108.341836

In [15]:
industrials = all_df.loc[all_df['Sector'] == 'Industrials']
industrials

   Symbol  Annual_Return       Sector
22     GE      97.831555  Industrials
50    UPS      25.214214  Industrials
49    UNP      18.719616  Industrials
4      BA      30.894350  Industrials
26    HON      47.442165  Industrials

In [24]:
csvpath = Path("resources/stock_industry_marketcap.csv")
sp500_csv = pd.read_csv(csvpath)
sector = "GICS Sector"
sp500_sectors = sp500_csv[sector].drop_duplicates().to_list()

# Create a database connection string that links an in-memory database
database_connection_string = 'sqlite:///stock_industry_top5.db'

# Database connection object
engine = sql.create_engine(database_connection_string)

# Confirm the engine was created
engine

stocks_df = pd.read_csv(
Path('resources/stock_industry_marketcap.csv')
)

stocks_df.to_sql('stock_industry_marketcap', engine, index=False, if_exists='replace')

sector_returns = []

for s in sp500_sectors:

    top5_1 = f"""
    SELECT Symbol, `GICS Sector`
    FROM stock_industry_marketcap
    WHERE `GICS Sector` = '{s}'
    ORDER BY Market_Cap DESC
    LIMIT 5
    """
    results_1 = engine.execute(top5_1)
    data_1 = pd.DataFrame(results_1)

    symbols = data_1[0].tolist()

    stock_data = yf.download(
        #tickers list or string as well
        tickers = symbols,

        # use "period" instead of start/end
        # valid periods: 1d, 5d, 1mo, 3mo, 6mo, 1y, 2y, 5y, 10y, ytd, max
        # (optional, default is "1mo")
        period = "1y",

        # fetch data by interval (including intraday if period < 60 days)
        # valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
        # (optional, default is '1d')
        interval = '1d',

        # adjust all OHLC automatically
        # (optional, default is False)
        auto_adjust = True,

        # download pre/post regular market hours data
        # (optional, default is False)
        prepost = True,

        # use threads for mass downloading? (True/False/Integre)
        # (optional, default is True)
        threads = True,

        # proxy URL scheme use use when downloading?
        # (optional, default is None)
        proxy = None
    )['Close']

    data_cleaned = stock_data.fillna(stock_data.rolling(6, min_periods=1).mean())
    data_cleaned = data_cleaned.dropna()

    sector_pct_change = data_cleaned.pct_change()

    sector_pct_change['sector_pct_change'] = sector_pct_change.mean(axis=1)
    
    sector_yearly_rtn = sector_pct_change['sector_pct_change'].sum()

    sector_returns.append(sector_yearly_rtn)

# print(sp500_sectors)
# print(sector_returns)

annual_return_df = pd.DataFrame(
    {'Sectors':sp500_sectors,
    'Annual_Return':sector_returns}
    )

annual_return_df.set_index('Sectors', inplace=True)
annual_return_df = annual_return_df.sort_values(by='Annual_Return', ascending=False)

annual_return_df

[*********************100%***********************]  5 of 5 completed
[*********************100%***********************]  5 of 5 completed
[*********************100%***********************]  5 of 5 completed
[*********************100%***********************]  5 of 5 completed
[*********************100%***********************]  5 of 5 completed
[*********************100%***********************]  5 of 5 completed
[*********************100%***********************]  5 of 5 completed
[*********************100%***********************]  5 of 5 completed
[*********************100%***********************]  5 of 5 completed
[*********************100%***********************]  5 of 5 completed
[*********************100%***********************]  5 of 5 completed

                        Annual_Return
Sectors
Financials                   0.577796
Communication Services       0.483069
Consumer Discretionary       0.446366
Energy                       0.422108
Health Care                  0.399395
Industrials                  0.398023
Materials                    0.382896
Information Technology       0.310609
Real Estate                  0.254903
Utilities                    0.211819
Consumer Staples             0.199738

In [21]:
annual_return_df = pd.DataFrame(
    {'Sectors':sp500_sectors,
    'Annual_Return':sector_returns}
    )

annual_return_df.set_index('Sectors',inplace=True)

In [23]:
annual_return_df = annual_return_df.sort_values(by='Annual_Return', ascending=False)
annual_return_df

                        Annual_Return
Sectors
Financials                   0.577796
Communication Services       0.483069
Consumer Discretionary       0.446366
Energy                       0.422108
Health Care                  0.399395
Industrials                  0.398023
Materials                    0.382896
Information Technology       0.310609
Real Estate                  0.254903
Utilities                    0.211819
Consumer Staples             0.199738

In [19]:
annual_return_df