In [1]:
import yfinance as yf
import pandas as pd
from pathlib import Path
import csv
import requests
import numpy as np

In [2]:
# Pulling S&P Data from wiki and outputing html
# Sepecify URL
url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'

# Read html
sp500_html = pd.read_html(url)

# Obtain first table
sp500_html = sp500_html[0]

# Create dataframe
sp500_df = pd.DataFrame(sp500_html)

# Save file to CSV
sp500_df.to_csv("sp500_wiki_table.csv")
sp500_df

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M,reports,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1976-08-09,66740,1902
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
2,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
3,ABMD,Abiomed,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981
4,ACN,Accenture,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...,...
500,YUM,Yum! Brands,reports,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
501,ZBRA,Zebra Technologies,reports,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
502,ZBH,Zimmer Biomet,reports,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
503,ZION,Zions Bancorp,reports,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
504,ZTS,Zoetis,reports,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [3]:
sp500_all_sectors_df = pd.DataFrame(
    columns=['GICS Sector', 'Symbol'],
    data=sp500_df
    )
sp500_all_sectors_df

                GICS Sector Symbol
0               Industrials    MMM
1               Health Care    ABT
2               Health Care   ABBV
3               Health Care   ABMD
4    Information Technology    ACN
..                      ...    ...
500  Consumer Discretionary    YUM
501  Information Technology   ZBRA
502             Health Care    ZBH
503              Financials   ZION
504             Health Care    ZTS

[505 rows x 2 columns]

In [4]:
sp500_sectors_list = sp500_all_sectors_df['GICS Sector'].drop_duplicates().to_list()
print(sp500_sectors_list)

['Industrials', 'Health Care', 'Information Technology', 'Communication Services', 'Consumer Discretionary', 'Utilities', 'Financials', 'Materials', 'Real Estate', 'Consumer Staples', 'Energy']

In [5]:
# Delete index
sp500_df_wo_index = sp500_all_sectors_df.set_index("GICS Sector")
sp500_df_wo_index

                       Symbol
GICS Sector
Industrials               MMM
Health Care               ABT
Health Care              ABBV
Health Care              ABMD
Information Technology    ACN
...                       ...
Consumer Discretionary    YUM
Information Technology   ZBRA
Health Care               ZBH
Financials               ZION
Health Care               ZTS

[505 rows x 1 columns]

In [6]:
# Separating out each sector in the S&P 500 and the stocks within each:
# ['Industrials', 'Health Care', 'Information Technology', 'Communication Services', 
# 'Consumer Discretionary', 'Utilities', 'Financials', 'Materials', 'Real Estate', 
# 'Consumer Staples', 'Energy']

industrials_sp500 = sp500_df_wo_index.loc["Industrials"]
health_care_sp500 = sp500_df_wo_index.loc["Health Care"]
information_technology_sp500 = sp500_df_wo_index.loc["Information Technology"]
communication_services_sp500 = sp500_df_wo_index.loc["Communication Services"]
consumer_discretionary_sp500 = sp500_df_wo_index.loc["Consumer Discretionary"]
utilities_sp500 = sp500_df_wo_index.loc["Utilities"]
financials_sp500 = sp500_df_wo_index.loc["Financials"]
materials_sp500 = sp500_df_wo_index.loc["Materials"]
real_estate_sp500 = sp500_df_wo_index.loc["Real Estate"]
consumer_staples_sp500 = sp500_df_wo_index.loc['Consumer Staples']
energy_sp500 = sp500_df_wo_index.loc["Energy"]

In [7]:
# # Displaying top 5 on each list
# display(
#     industrials_sp500.head(),
#     health_care_sp500.head(),
#     information_technology_sp500.head(),
#     communication_services_sp500.head(),
#     consumer_discretionary_sp500.head(),
#     utilities_sp500.head(),
#     financials_sp500.head(),
#     materials_sp500.head(),
#     real_estate_sp500.head(),
#     consumer_staples_sp500.head(),
#     energy_sp500.head()
# )

In [8]:
print(type(industrials_sp500['Symbol']))
print(type(industrials_sp500['Symbol'].values.tolist()))

<class 'pandas.core.series.Series'>
<class 'list'>

In [9]:
# Created list of stocks in each sector from the S&P 500
industrials_list = industrials_sp500["Symbol"].values.tolist()
health_care_list = health_care_sp500["Symbol"].values.tolist()
information_technology_list = information_technology_sp500["Symbol"].values.tolist()
communication_services_list = communication_services_sp500["Symbol"].values.tolist()
consumer_discretionary_list = consumer_discretionary_sp500["Symbol"].values.tolist()
utilities_list = utilities_sp500["Symbol"].values.tolist()
financials_list = financials_sp500["Symbol"].values.tolist()
materials_list = materials_sp500["Symbol"].values.tolist()
real_estate_list = real_estate_sp500["Symbol"].values.tolist()
consumer_staples_list = consumer_staples_sp500["Symbol"].values.tolist()
energy_list = energy_sp500["Symbol"].values.tolist()

In [10]:
# yfinance will only let you input tickers like:
# 'msft aapl goog' 
# but the list we have is like:
# 'msft', 'aapl', 'goog'
# I will need to figure out how to change this
# tickers = yf.Tickers('msft aapl goog')

In [31]:
sp500_all_symbols = sp500_all_sectors_df['Symbol'].values.tolist()

In [20]:
# one issue with how the wikipedia symbols come is that they come with a "." instead of a "-"
# yahoo finance needs to have the "-" in order to pull the data
# this step might need to go in front of the part where we break the sectors out individually
stocks = []

for stock_ticker in sp500_all_symbols:
    ticker = stock_ticker.replace(".","-")
    stocks.append(ticker)

In [38]:
data = yf.download(
    #tickers list or string as well
    tickers = industrials_list,

    # use "period" instead of start/end
    # valid periods: 1d, 5d, 1mo, 3mo, 6mo, 1y, 2y, 5y, 10y, ytd, max
    # (optional, default is "1mo")
    period = "10y",

    # fetch data by interval (including intraday if period < 60 days)
    # valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
    # (optional, default is '1d')
    interval = '1d',

    # adjust all OHLC automatically
    # (optional, default is False)
    auto_adjust = True,

    # download pre/post regular market hours data
    # (optional, default is False)
    prepost = True,

    # use threads for mass downloading? (True/False/Integre)
    # (optional, default is True)
    threads = True,

    # proxy URL scheme use use when downloading?
    # (optional, default is None)
    proxy = None
)['Close']

data

[*********************100%***********************]  74 of 74 completed

,AAL,ALK,ALLE,AME,AOS,BA,CARR,CAT,CHRW,CMI,...,TT,TXT,UAL,UNP,UPS,URI,VRSK,WAB,WM,XYL
Date,,,,,,,,,,,,,,,,,,,,,
2011-08-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-08-04,5.307635,12.466008,NaN,23.878752,8.444988,50.951195,NaN,67.627693,53.972656,72.436195,...,17.025173,18.594521,17.020000,37.406937,48.355713,17.440001,32.444965,27.671509,22.749517,NaN
2011-08-05,5.203932,12.380581,NaN,23.129421,8.262723,50.676620,NaN,68.715172,53.806808,71.736374,...,16.547348,18.193272,16.820000,37.281963,48.696735,17.650000,32.631821,27.470472,22.976484,NaN
2011-08-08,4.685425,11.737611,NaN,21.068756,7.681204,47.413940,NaN,62.379055,50.750435,65.057259,...,15.326816,16.030432,16.610001,35.257996,46.257812,14.750000,30.979580,24.813890,21.312069,NaN
2011-08-09,5.458474,12.627875,NaN,23.029505,8.084794,50.345512,NaN,66.064438,51.334846,70.842178,...,15.622858,17.077604,18.459999,37.048103,47.518040,15.740000,31.402473,26.781195,22.242628,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-07-28,21.629999,59.660000,135.589996,136.869995,69.139999,231.570007,51.570000,211.440002,88.510002,232.020004,...,198.229996,69.099998,49.139999,216.559998,192.039993,325.890015,185.270004,83.260002,145.669998,122.930000
2021-07-29,21.170000,58.849998,135.500000,138.600006,70.430000,231.630005,53.939999,212.559998,89.230003,233.149994,...,202.610001,69.290001,48.490002,217.320007,191.809998,322.459991,187.809998,85.010002,146.210007,125.059998
2021-07-30,20.379999,58.029999,136.600006,139.050003,70.330002,226.479996,55.250000,206.750000,89.169998,232.100006,...,203.610001,69.010002,46.720001,218.759995,191.360001,329.549988,189.940002,84.870003,148.259995,125.849998
2021-08-02,20.059999,56.709999,135.869995,138.229996,69.839996,225.339996,54.610001,205.160004,NaN,229.059998,...,201.169998,69.690002,46.070000,217.520004,191.940002,326.269989,190.000000,83.580002,147.270004,125.639999
2021-08-03,19.950001,57.189999,137.809998,138.770004,71.639999,229.089996,57.180000,208.500000,91.410004,233.050003,...,206.559998,71.669998,46.540001,220.059998,194.149994,338.230011,188.490005,85.550003,149.410004,127.930000

In [39]:
# the issue is that there are varying null values that pull from yahoo finance
# for example ALLE wasn't founded until 2013, so if we are taking the null values
# then will be taking out everything prior to 2013
data.isnull().sum()

AAL       1
ALK       1
ALLE    577
AME       1
AOS       1
       ...
URI       1
VRSK      1
WAB       1
WM        1
XYL      50
Length: 74, dtype: int64

In [40]:
# so what we can do is replace null values with the average of the past 5 closing prices and 
# sub that price in for the null values. In the case of an ALLE where they are missing 2 years
# of data we can just take the first trading days close price and sub that for all null values before 2013

# since python goes in order of tasks
# Task 1: fill all NaN's with the average of the previous 5 values
# the formula is showing a rolling period of '6'. That is because it is counting the NaN value as the first value, 
# but since it doesn't exist it is not included in the calculation
data_cleaned = data.fillna(data.rolling(6, min_periods=1).mean())

# This still leaves all values that do not have "previous data"
# for these we are just using the 'bfill' method from fillna to backfill the first non-null value
data_cleaned = data_cleaned.fillna(method='bfill')
data_cleaned

# by doing these 2 steps in order it should fill all NaN values in our dataset regardless of what stock sector we pull

,AAL,ALK,ALLE,AME,AOS,BA,CARR,CAT,CHRW,CMI,...,TT,TXT,UAL,UNP,UPS,URI,VRSK,WAB,WM,XYL
Date,,,,,,,,,,,,,,,,,,,,,
2011-08-03,5.307635,12.466008,45.387146,23.878752,8.444988,50.951195,11.826947,67.627693,53.972656,72.436195,...,17.025173,18.594521,17.020000,37.406937,48.355713,17.440001,32.444965,27.671509,22.749517,21.150721
2011-08-04,5.307635,12.466008,45.387146,23.878752,8.444988,50.951195,11.826947,67.627693,53.972656,72.436195,...,17.025173,18.594521,17.020000,37.406937,48.355713,17.440001,32.444965,27.671509,22.749517,21.150721
2011-08-05,5.203932,12.380581,45.387146,23.129421,8.262723,50.676620,11.826947,68.715172,53.806808,71.736374,...,16.547348,18.193272,16.820000,37.281963,48.696735,17.650000,32.631821,27.470472,22.976484,21.150721
2011-08-08,4.685425,11.737611,45.387146,21.068756,7.681204,47.413940,11.826947,62.379055,50.750435,65.057259,...,15.326816,16.030432,16.610001,35.257996,46.257812,14.750000,30.979580,24.813890,21.312069,21.150721
2011-08-09,5.458474,12.627875,45.387146,23.029505,8.084794,50.345512,11.826947,66.064438,51.334846,70.842178,...,15.622858,17.077604,18.459999,37.048103,47.518040,15.740000,31.402473,26.781195,22.242628,21.150721
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-07-28,21.629999,59.660000,135.589996,136.869995,69.139999,231.570007,51.570000,211.440002,88.510002,232.020004,...,198.229996,69.099998,49.139999,216.559998,192.039993,325.890015,185.270004,83.260002,145.669998,122.930000
2021-07-29,21.170000,58.849998,135.500000,138.600006,70.430000,231.630005,53.939999,212.559998,89.230003,233.149994,...,202.610001,69.290001,48.490002,217.320007,191.809998,322.459991,187.809998,85.010002,146.210007,125.059998
2021-07-30,20.379999,58.029999,136.600006,139.050003,70.330002,226.479996,55.250000,206.750000,89.169998,232.100006,...,203.610001,69.010002,46.720001,218.759995,191.360001,329.549988,189.940002,84.870003,148.259995,125.849998
2021-08-02,20.059999,56.709999,135.869995,138.229996,69.839996,225.339996,54.610001,205.160004,90.146001,229.059998,...,201.169998,69.690002,46.070000,217.520004,191.940002,326.269989,190.000000,83.580002,147.270004,125.639999
2021-08-03,19.950001,57.189999,137.809998,138.770004,71.639999,229.089996,57.180000,208.500000,91.410004,233.050003,...,206.559998,71.669998,46.540001,220.059998,194.149994,338.230011,188.490005,85.550003,149.410004,127.930000

In [41]:
data_cleaned.isnull().sum()

AAL     0
ALK     0
ALLE    0
AME     0
AOS     0
       ..
URI     0
VRSK    0
WAB     0
WM      0
XYL     0
Length: 74, dtype: int64

In [42]:
data_pct_change = data_cleaned.pct_change().dropna()

In [43]:
data_pct_change

,AAL,ALK,ALLE,AME,AOS,BA,CARR,CAT,CHRW,CMI,...,TT,TXT,UAL,UNP,UPS,URI,VRSK,WAB,WM,XYL
Date,,,,,,,,,,,,,,,,,,,,,
2011-08-04,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2011-08-05,-0.019538,-0.006853,0.000000,-0.031381,-0.021583,-0.005389,0.000000,0.016080,-0.003073,-0.009661,...,-0.028066,-0.021579,-0.011751,-0.003341,0.007052,0.012041,0.005759,-0.007265,0.009977,0.000000
2011-08-08,-0.099637,-0.051934,0.000000,-0.089093,-0.070379,-0.064382,0.000000,-0.092208,-0.056803,-0.093106,...,-0.073760,-0.118881,-0.012485,-0.054288,-0.050084,-0.164306,-0.050633,-0.096707,-0.072440,0.000000
2011-08-09,0.164990,0.075847,0.000000,0.093064,0.052543,0.061829,0.000000,0.059080,0.011515,0.088920,...,0.019315,0.065324,0.111379,0.050772,0.027244,0.067119,0.013651,0.079282,0.043663,0.000000
2011-08-10,-0.081175,-0.068008,0.000000,-0.039588,-0.061997,-0.072836,0.000000,-0.045382,-0.031538,-0.053342,...,-0.062168,-0.069342,-0.079090,-0.034389,-0.032917,-0.069886,-0.029753,-0.033959,-0.023810,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-07-28,0.007922,0.005732,-0.008120,-0.001168,-0.010127,0.041841,-0.007506,0.007337,-0.030771,-0.007613,...,-0.012651,0.006408,0.010072,-0.006742,-0.016138,-0.002632,-0.007659,0.015242,-0.008778,-0.008229
2021-07-29,-0.021267,-0.013577,-0.000664,0.012640,0.018658,0.000259,0.045957,0.005297,0.008135,0.004870,...,0.022096,0.002750,-0.013227,0.003509,-0.001198,-0.010525,0.013710,0.021018,0.003707,0.017327
2021-07-30,-0.037317,-0.013934,0.008118,0.003247,-0.001420,-0.022234,0.024286,-0.027333,-0.000672,-0.004503,...,0.004936,-0.004041,-0.036502,0.006626,-0.002346,0.021987,0.011341,-0.001647,0.014021,0.006317
2021-08-02,-0.015702,-0.022747,-0.005344,-0.005897,-0.006967,-0.005034,-0.011584,-0.007690,0.010945,-0.013098,...,-0.011984,0.009854,-0.013913,-0.005668,0.003031,-0.009953,0.000316,-0.015200,-0.006677,-0.001669
2021-08-03,-0.005483,0.008464,0.014278,0.003907,0.025773,0.016642,0.047061,0.016280,0.014022,0.017419,...,0.026793,0.028411,0.010202,0.011677,0.011514,0.036657,-0.007947,0.023570,0.014531,0.018227