In [1]:
import pandas as pd
from pathlib import Path
import sqlalchemy as sql

In [2]:
# Create a database connection string that links an in-memory database
database_connection_string = 'sqlite:///stock_industry_top5.db'

# Database connection object
engine = sql.create_engine(database_connection_string)

# Confirm the engine was created
engine

Engine(sqlite:///stock_industry_top5.db)

In [3]:
stocks_df = pd.read_csv(
    Path('stock_industry_marketcap.csv')
)

stocks_df.head()

  Symbol             GICS Sector    Market_Cap
0    MMM             Industrials  1.146455e+11
1    ABT             Health Care  2.165854e+11
2   ABBV             Health Care  2.022537e+11
3   ABMD             Health Care  1.569610e+10
4    ACN  Information Technology  2.040843e+11

In [4]:
stocks_df.to_sql('stock_industry_marketcap', engine, index=False, if_exists='replace')

In [5]:
engine.table_names()

['stock_industry_marketcap']

In [6]:
sql_stock_df = pd.read_sql_table('stock_industry_marketcap', con=engine)

sql_stock_df.head()

  Symbol             GICS Sector    Market_Cap
0    MMM             Industrials  1.146455e+11
1    ABT             Health Care  2.165854e+11
2   ABBV             Health Care  2.022537e+11
3   ABMD             Health Care  1.569610e+10
4    ACN  Information Technology  2.040843e+11

In [7]:
top5 = """
SELECT Symbol
FROM stock_industry_marketcap
WHERE `GICS Sector` = 'Industrials'
ORDER BY Market_Cap DESC
LIMIT 5
"""
# UNION all
# SELECT * FROM stock_industry_marketcap WHERE GICS Sector = 'Utilities' ORDER BY Market_Cap LIMIT 5
# UNION all
# SELECT * FROM stock_industry_marketcap WHERE GICS Sector = 'Real Estate' ORDER BY Market_Cap LIMIT 5
# UNION all
# SELECT * FROM stock_industry_marketcap WHERE GICS Sector = 'Materials' ORDER BY Market_Cap LIMIT 5
# UNION all
# SELECT * FROM stock_industry_marketcap WHERE GICS Sector = 'Information Technology' ORDER BY Market_Cap LIMIT 5
# UNION all
# SELECT * FROM stock_industry_marketcap WHERE GICS Sector = 'Health Care' ORDER BY Market_Cap LIMIT 5
# UNION all
# SELECT * FROM stock_industry_marketcap WHERE GICS Sector = 'Financials' ORDER BY Market_Cap LIMIT 5
# UNION all
# SELECT * FROM stock_industry_marketcap WHERE GICS Sector = 'Energy' ORDER BY Market_Cap LIMIT 5
# UNION all
# SELECT * FROM stock_industry_marketcap WHERE GICS Sector = 'Consumer Staples' ORDER BY Market_Cap LIMIT 5
# UNION all
# SELECT * FROM stock_industry_marketcap WHERE GICS Sector = 'Consumer Discretionary' ORDER BY Market_Cap LIMIT 5
# UNION all
# SELECT * FROM stock_industry_marketcap WHERE GICS Sector = 'Communication Services' ORDER BY Market_Cap LIMIT 5
# UNION all

In [8]:
results = engine.execute(top5)

In [9]:
data = pd.DataFrame(data=results)
data

     0
0   GE
1  UPS
2  HON
3  UNP
4   BA

In [10]:
ls1 = ['Industrials', 'Utilities', 'Materials']

In [11]:
l1 = ls1[0]
l1

'Industrials'

In [16]:
def generate_tickers(ls1):
    l1 = ls1[0]
    top5_1 = f"""
    SELECT Symbol
    FROM stock_industry_marketcap
    WHERE `GICS Sector` = '{l1}'
    ORDER BY Market_Cap DESC
    LIMIT 5
    """
    results_1 = engine.execute(top5_1)
    data_1 = pd.DataFrame(results_1)

    l2 = ls1[1]
    top5_2 = f"""
    SELECT Symbol
    FROM stock_industry_marketcap
    WHERE `GICS Sector` = '{l2}'
    ORDER BY Market_Cap DESC
    LIMIT 5
    """
    results_2 = engine.execute(top5_2)
    data_2 = pd.DataFrame(results_2)

    l3 = ls1[2]
    top5_3 = f"""
    SELECT Symbol
    FROM stock_industry_marketcap
    WHERE `GICS Sector` = '{l3}'
    ORDER BY Market_Cap DESC
    LIMIT 5
    """
    results_3 = engine.execute(top5_3)
    data_3 = pd.DataFrame(results_3)

    clean_symbols = pd.concat([data_1, data_2, data_3], axis="rows", join="inner")
    symbols = clean_symbols[0].tolist()
    return print(symbols)
    
    

generate_tickers(ls1)

['GE', 'UPS', 'HON', 'UNP', 'BA', 'NEE', 'DUK', 'SO', 'D', 'EXC', 'LIN', 'SHW', 'APD', 'ECL', 'FCX']