In [1]:
import pandas as pd
from pathlib import Path
import sqlalchemy as sql

In [2]:
# Create a database connection string that links an in-memory database
database_connection_string = 'sqlite:///stock_industry_top5.db'

# Database connection object
engine = sql.create_engine(database_connection_string, echo=True)

# Confirm the engine was created
engine

Engine(sqlite:///stock_industry_top5.db)

In [3]:
stocks_df = pd.read_csv(
    Path('stock_industry_marketcap.csv')
)

stocks_df.head()

  Symbol             GICS Sector    Market_Cap
0    MMM             Industrials  1.146455e+11
1    ABT             Health Care  2.165854e+11
2   ABBV             Health Care  2.022537e+11
3   ABMD             Health Care  1.569610e+10
4    ACN  Information Technology  2.040843e+11

In [4]:
stocks_df.to_sql('stock_industry_marketcap', engine, index=False, if_exists='replace')

2021-08-09 11:36:31,135 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-08-09 11:36:31,137 INFO sqlalchemy.engine.base.Engine ()
2021-08-09 11:36:31,150 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-08-09 11:36:31,157 INFO sqlalchemy.engine.base.Engine ()
2021-08-09 11:36:31,160 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("stock_industry_marketcap")
2021-08-09 11:36:31,167 INFO sqlalchemy.engine.base.Engine ()
2021-08-09 11:36:31,180 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("stock_industry_marketcap")
2021-08-09 11:36:31,183 INFO sqlalchemy.engine.base.Engine ()
2021-08-09 11:36:31,188 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-08-09 11:36:31,192 INFO sqlalchemy.engine.base.Engine ()
2021-08-09 11:36:31,195 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_xinfo("stock_industry_marketcap")
2021-08-09 11:36:31,197 INFO sqlalchemy.engine.base.Engine ()
2021-08-09 11:36:31,201 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-08-09 11:36:31,206 INFO sqlalchemy.engine.base.Engine ('stock_industry_marketcap',)
2021-08-09 11:36:31,211 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("stock_industry_marketcap")
2021-08-09 11:36:31,212 INFO sqlalchemy.engine.base.Engine ()
2021-08-09 11:36:31,214 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("stock_industry_marketcap")
2021-08-09 11:36:31,215 INFO sqlalchemy.engine.base.Engine ()
2021-08-09 11:36:31,216 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-08-09 11:36:31,218 INFO sqlalchemy.engine.base.Engine ('stock_industry_marketcap',)
2021-08-09 11:36:31,223 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("stock_industry_marketcap")
2021-08-09 11:36:31,231 INFO sqlalchemy.engine.base.Engine ()
2021-08-09 11:36:31,244 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("stock_industry_marketcap")
2021-08-09 11:36:31,245 INFO sqlalchemy.engine.base.Engine ()
2021-08-09 11:36:31,247 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("stock_industry_marketcap")
2021-08-09 11:36:31,249 INFO sqlalchemy.engine.base.Engine ()
2021-08-09 11:36:31,251 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("stock_industry_marketcap")
2021-08-09 11:36:31,253 INFO sqlalchemy.engine.base.Engine ()
2021-08-09 11:36:31,257 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-08-09 11:36:31,259 INFO sqlalchemy.engine.base.Engine ('stock_industry_marketcap',)
2021-08-09 11:36:31,267 INFO sqlalchemy.engine.base.Engine
DROP TABLE stock_industry_marketcap
2021-08-09 11:36:31,268 INFO sqlalchemy.engine.base.Engine ()
2021-08-09 11:36:31,275 INFO sqlalchemy.engine.base.Engine COMMIT
2021-08-09 11:36:31,280 INFO sqlalchemy.engine.base.Engine
CREATE TABLE stock_industry_marketcap (
	"Symbol" TEXT,
	"GICS Sector" TEXT,
	"Market_Cap" FLOAT
)


2021-08-09 11:36:31,281 INFO sqlalchemy.engine.base.Engine ()
2021-08-09 11:36:31,299 INFO sqlalchemy.engine.base.Engine COMMIT
2021-08-09 11:36:31,309 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-08-09 11:36:31,317 INFO sqlalchemy.engine.base.Engine INSERT INTO stock_industry_marketcap ("Symbol", "GICS Sector", "Market_Cap") VALUES (?, ?, ?)
2021-08-09 11:36:31,320 INFO sqlalchemy.engine.base.Engine (('MMM', 'Industrials', 114645549056.0), ('ABT', 'Health Care', 216585404416.0), ('ABBV', 'Health Care', 202253746176.0), ('ABMD', 'Health Care', 15696103424.0), ('ACN', 'Information Technology', 204084314112.0), ('ATVI', 'Communication Services', 64106471424.0), ('ADBE', 'Information Technology', 300789432320.0), ('AMD', 'Information Technology', 133560123392.0)  ... displaying 10 of 503 total bound parameter sets ...  ('ZION', 'Financials', 9008241664.0), ('ZTS', 'Health Care', 95845965824.0))
2021-08-09 11:36:31,329 INFO sqlalchemy.engine.base.Engine COMMIT

In [5]:
engine.table_names()

2021-08-09 11:36:33,245 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-08-09 11:36:33,247 INFO sqlalchemy.engine.base.Engine ()

['stock_industry_marketcap']

In [6]:
sql_stock_df = pd.read_sql_table('stock_industry_marketcap', con=engine)

sql_stock_df.head()

2021-08-09 11:36:33,814 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-08-09 11:36:33,815 INFO sqlalchemy.engine.base.Engine ()
2021-08-09 11:36:33,818 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='view' ORDER BY name
2021-08-09 11:36:33,826 INFO sqlalchemy.engine.base.Engine ()
2021-08-09 11:36:33,841 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_xinfo("stock_industry_marketcap")
2021-08-09 11:36:33,844 INFO sqlalchemy.engine.base.Engine ()
2021-08-09 11:36:33,847 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-08-09 11:36:33,850 INFO sqlalchemy.engine.base.Engine ('stock_industry_marketcap',)
2021-08-09 11:36:33,852 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("stock_industry_marketcap")
2021-08-09 11:36:33,857 INFO sqlalchemy.engine.base.Engine ()
2021-08-09 11:36:33,860 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("stock_industry_marketcap")
2021-08-09 11:36:33,861 INFO sqlalchemy.engine.base.Engine ()
2021-08-09 11:36:33,863 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-08-09 11:36:33,864 INFO sqlalchemy.engine.base.Engine ('stock_industry_marketcap',)
2021-08-09 11:36:33,867 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("stock_industry_marketcap")
2021-08-09 11:36:33,868 INFO sqlalchemy.engine.base.Engine ()
2021-08-09 11:36:33,871 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("stock_industry_marketcap")
2021-08-09 11:36:33,872 INFO sqlalchemy.engine.base.Engine ()
2021-08-09 11:36:33,873 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("stock_industry_marketcap")
2021-08-09 11:36:33,874 INFO sqlalchemy.engine.base.Engine ()
2021-08-09 11:36:33,875 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("stock_industry_marketcap")
2021-08-09 11:36:33,876 INFO sqlalchemy.engine.base.Engine ()
2021-08-09 11:36:33,878 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-08-09 11:36:33,879 INFO sqlalchemy.engine.base.Engine ('stock_industry_marketcap',)
2021-08-09 11:36:33,884 INFO sqlalchemy.engine.base.OptionEngine SELECT stock_industry_marketcap."Symbol", stock_industry_marketcap."GICS Sector", stock_industry_marketcap."Market_Cap"
FROM stock_industry_marketcap
2021-08-09 11:36:33,885 INFO sqlalchemy.engine.base.OptionEngine ()

  Symbol             GICS Sector    Market_Cap
0    MMM             Industrials  1.146455e+11
1    ABT             Health Care  2.165854e+11
2   ABBV             Health Care  2.022537e+11
3   ABMD             Health Care  1.569610e+10
4    ACN  Information Technology  2.040843e+11

In [7]:
top5 = """
SELECT Symbol
FROM stock_industry_marketcap
WHERE `GICS Sector` = 'Industrials'
ORDER BY Market_Cap DESC
LIMIT 5
"""
# UNION all
# SELECT * FROM stock_industry_marketcap WHERE GICS Sector = 'Utilities' ORDER BY Market_Cap LIMIT 5
# UNION all
# SELECT * FROM stock_industry_marketcap WHERE GICS Sector = 'Real Estate' ORDER BY Market_Cap LIMIT 5
# UNION all
# SELECT * FROM stock_industry_marketcap WHERE GICS Sector = 'Materials' ORDER BY Market_Cap LIMIT 5
# UNION all
# SELECT * FROM stock_industry_marketcap WHERE GICS Sector = 'Information Technology' ORDER BY Market_Cap LIMIT 5
# UNION all
# SELECT * FROM stock_industry_marketcap WHERE GICS Sector = 'Health Care' ORDER BY Market_Cap LIMIT 5
# UNION all
# SELECT * FROM stock_industry_marketcap WHERE GICS Sector = 'Financials' ORDER BY Market_Cap LIMIT 5
# UNION all
# SELECT * FROM stock_industry_marketcap WHERE GICS Sector = 'Energy' ORDER BY Market_Cap LIMIT 5
# UNION all
# SELECT * FROM stock_industry_marketcap WHERE GICS Sector = 'Consumer Staples' ORDER BY Market_Cap LIMIT 5
# UNION all
# SELECT * FROM stock_industry_marketcap WHERE GICS Sector = 'Consumer Discretionary' ORDER BY Market_Cap LIMIT 5
# UNION all
# SELECT * FROM stock_industry_marketcap WHERE GICS Sector = 'Communication Services' ORDER BY Market_Cap LIMIT 5
# UNION all

In [8]:
results = engine.execute(top5)

2021-08-09 11:36:37,382 INFO sqlalchemy.engine.base.Engine
SELECT Symbol
FROM stock_industry_marketcap
WHERE `GICS Sector` = 'Industrials'
ORDER BY Market_Cap DESC
LIMIT 5

2021-08-09 11:36:37,386 INFO sqlalchemy.engine.base.Engine ()

In [9]:
list(results)

[('GE',), ('UPS',), ('HON',), ('UNP',), ('BA',)]

In [ ]:
# concat sectors_1 sectors_2 sectors_3 to 1 list