In [1]:
import pandas as pd
from pathlib import Path
import sqlalchemy as sql

In [7]:
# Create a database connection string that links an in-memory database
database_connection_string = 'sqlite:///stock_industry_top5.db'

# Database connection object
engine = sql.create_engine(database_connection_string, echo=True)

# Confirm the engine was created
engine

Engine(sqlite:///stock_industry_top5.db)

In [8]:
stocks_df = pd.read_csv(
    Path('stock_industry_marketcap.csv')
)

stocks_df.head()

  Symbol             GICS Sector    Market_Cap
0    MMM             Industrials  1.146455e+11
1    ABT             Health Care  2.165854e+11
2   ABBV             Health Care  2.022537e+11
3   ABMD             Health Care  1.569610e+10
4    ACN  Information Technology  2.040843e+11

In [9]:
stocks_df.to_sql('stock_industry_marketcap', engine, index=False, if_exists='replace')

2021-08-08 00:11:43,523 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-08-08 00:11:43,524 INFO sqlalchemy.engine.base.Engine ()
2021-08-08 00:11:43,525 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-08-08 00:11:43,526 INFO sqlalchemy.engine.base.Engine ()
2021-08-08 00:11:43,527 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("stock_industry_marketcap")
2021-08-08 00:11:43,528 INFO sqlalchemy.engine.base.Engine ()
2021-08-08 00:11:43,529 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("stock_industry_marketcap")
2021-08-08 00:11:43,530 INFO sqlalchemy.engine.base.Engine ()
2021-08-08 00:11:43,535 INFO sqlalchemy.engine.base.Engine
CREATE TABLE stock_industry_marketcap (
	"Symbol" TEXT,
	"GICS Sector" TEXT,
	"Market_Cap" FLOAT
)


2021-08-08 00:11:43,537 INFO sqlalchemy.engine.base.Engine ()
2021-08-08 00:11:43,544 INFO sqlalchemy.engine.base.Engine COMMIT
2021-08-08 00:11:43,547 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-08-08 00:11:43,554 INFO sqlalchemy.engine.base.Engine INSERT INTO stock_industry_marketcap ("Symbol", "GICS Sector", "Market_Cap") VALUES (?, ?, ?)
2021-08-08 00:11:43,555 INFO sqlalchemy.engine.base.Engine (('MMM', 'Industrials', 114645549056.0), ('ABT', 'Health Care', 216585404416.0), ('ABBV', 'Health Care', 202253746176.0), ('ABMD', 'Health Care', 15696103424.0), ('ACN', 'Information Technology', 204084314112.0), ('ATVI', 'Communication Services', 64106471424.0), ('ADBE', 'Information Technology', 300789432320.0), ('AMD', 'Information Technology', 133560123392.0)  ... displaying 10 of 503 total bound parameter sets ...  ('ZION', 'Financials', 9008241664.0), ('ZTS', 'Health Care', 95845965824.0))
2021-08-08 00:11:43,560 INFO sqlalchemy.engine.base.Engine COMMIT

In [10]:
engine.table_names()

2021-08-08 00:12:09,084 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-08-08 00:12:09,085 INFO sqlalchemy.engine.base.Engine ()

['stock_industry_marketcap']

In [11]:
sql_stock_df = pd.read_sql_table('stock_industry_marketcap', con=engine)

sql_stock_df.head()

2021-08-08 00:12:10,026 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-08-08 00:12:10,030 INFO sqlalchemy.engine.base.Engine ()
2021-08-08 00:12:10,032 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='view' ORDER BY name
2021-08-08 00:12:10,033 INFO sqlalchemy.engine.base.Engine ()
2021-08-08 00:12:10,034 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_xinfo("stock_industry_marketcap")
2021-08-08 00:12:10,036 INFO sqlalchemy.engine.base.Engine ()
2021-08-08 00:12:10,037 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-08-08 00:12:10,038 INFO sqlalchemy.engine.base.Engine ('stock_industry_marketcap',)
2021-08-08 00:12:10,039 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("stock_industry_marketcap")
2021-08-08 00:12:10,040 INFO sqlalchemy.engine.base.Engine ()
2021-08-08 00:12:10,041 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("stock_industry_marketcap")
2021-08-08 00:12:10,041 INFO sqlalchemy.engine.base.Engine ()
2021-08-08 00:12:10,042 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-08-08 00:12:10,043 INFO sqlalchemy.engine.base.Engine ('stock_industry_marketcap',)
2021-08-08 00:12:10,044 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("stock_industry_marketcap")
2021-08-08 00:12:10,044 INFO sqlalchemy.engine.base.Engine ()
2021-08-08 00:12:10,045 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("stock_industry_marketcap")
2021-08-08 00:12:10,046 INFO sqlalchemy.engine.base.Engine ()
2021-08-08 00:12:10,047 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("stock_industry_marketcap")
2021-08-08 00:12:10,050 INFO sqlalchemy.engine.base.Engine ()
2021-08-08 00:12:10,052 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("stock_industry_marketcap")
2021-08-08 00:12:10,053 INFO sqlalchemy.engine.base.Engine ()
2021-08-08 00:12:10,054 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-08-08 00:12:10,055 INFO sqlalchemy.engine.base.Engine ('stock_industry_marketcap',)
2021-08-08 00:12:10,059 INFO sqlalchemy.engine.base.OptionEngine SELECT stock_industry_marketcap."Symbol", stock_industry_marketcap."GICS Sector", stock_industry_marketcap."Market_Cap"
FROM stock_industry_marketcap
2021-08-08 00:12:10,060 INFO sqlalchemy.engine.base.OptionEngine ()

  Symbol             GICS Sector    Market_Cap
0    MMM             Industrials  1.146455e+11
1    ABT             Health Care  2.165854e+11
2   ABBV             Health Care  2.022537e+11
3   ABMD             Health Care  1.569610e+10
4    ACN  Information Technology  2.040843e+11

In [12]:
# order by GICS Sector, Market_Cap limit 5 per sector.. save to csv and we have our top5 stocks based on Market Cap per sector...

# sql_select_top5 = """
# SELECT *
# FROM stock_industry_marketcap
# GROUPBY GICS Sector 
# """

# results = engine.execute(sql_select_top5)

# list(results)

2021-08-08 00:14:33,154 INFO sqlalchemy.engine.base.Engine
SELECT *
FROM stock_industry_marketcap
GROUPBY GICS Sector

2021-08-08 00:14:33,155 INFO sqlalchemy.engine.base.Engine ()
2021-08-08 00:14:33,156 INFO sqlalchemy.engine.base.Engine ROLLBACK

OperationalError: (sqlite3.OperationalError) near "GICS": syntax error
[SQL:
SELECT *
FROM stock_industry_marketcap
GROUPBY GICS Sector
]
(Background on this error at: http://sqlalche.me/e/13/e3q8)