In [1]:
import pandas as pd
from pathlib import Path
import sqlalchemy as sql

In [2]:
# Create a database connection string that links an in-memory database
database_connection_string = 'sqlite:///stock_industry_top5.db'

# Database connection object
engine = sql.create_engine(database_connection_string, echo=True)

# Confirm the engine was created
engine

Engine(sqlite:///stock_industry_top5.db)

In [3]:
stocks_df = pd.read_csv(
    Path('stock_industry_marketcap.csv')
)

stocks_df.head()

  Symbol             GICS Sector    Market_Cap
0    MMM             Industrials  1.146455e+11
1    ABT             Health Care  2.165854e+11
2   ABBV             Health Care  2.022537e+11
3   ABMD             Health Care  1.569610e+10
4    ACN  Information Technology  2.040843e+11

In [4]:
stocks_df.to_sql('stock_industry_marketcap', engine, index=False, if_exists='replace')

2021-08-08 21:36:15,411 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-08-08 21:36:15,416 INFO sqlalchemy.engine.base.Engine ()
2021-08-08 21:36:15,417 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-08-08 21:36:15,418 INFO sqlalchemy.engine.base.Engine ()
2021-08-08 21:36:15,419 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("stock_industry_marketcap")
2021-08-08 21:36:15,420 INFO sqlalchemy.engine.base.Engine ()
2021-08-08 21:36:15,423 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("stock_industry_marketcap")
2021-08-08 21:36:15,424 INFO sqlalchemy.engine.base.Engine ()
2021-08-08 21:36:15,426 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-08-08 21:36:15,426 INFO sqlalchemy.engine.base.Engine ()
2021-08-08 21:36:15,428 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_xinfo("stock_industry_marketcap")
2021-08-08 21:36:15,429 INFO sqlalchemy.engine.base.Engine ()
2021-08-08 21:36:15,430 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-08-08 21:36:15,431 INFO sqlalchemy.engine.base.Engine ('stock_industry_marketcap',)
2021-08-08 21:36:15,433 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("stock_industry_marketcap")
2021-08-08 21:36:15,434 INFO sqlalchemy.engine.base.Engine ()
2021-08-08 21:36:15,435 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("stock_industry_marketcap")
2021-08-08 21:36:15,436 INFO sqlalchemy.engine.base.Engine ()
2021-08-08 21:36:15,437 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-08-08 21:36:15,437 INFO sqlalchemy.engine.base.Engine ('stock_industry_marketcap',)
2021-08-08 21:36:15,440 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("stock_industry_marketcap")
2021-08-08 21:36:15,440 INFO sqlalchemy.engine.base.Engine ()
2021-08-08 21:36:15,442 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("stock_industry_marketcap")
2021-08-08 21:36:15,442 INFO sqlalchemy.engine.base.Engine ()
2021-08-08 21:36:15,444 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("stock_industry_marketcap")
2021-08-08 21:36:15,444 INFO sqlalchemy.engine.base.Engine ()
2021-08-08 21:36:15,445 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("stock_industry_marketcap")
2021-08-08 21:36:15,446 INFO sqlalchemy.engine.base.Engine ()
2021-08-08 21:36:15,446 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-08-08 21:36:15,446 INFO sqlalchemy.engine.base.Engine ('stock_industry_marketcap',)
2021-08-08 21:36:15,450 INFO sqlalchemy.engine.base.Engine
DROP TABLE stock_industry_marketcap
2021-08-08 21:36:15,451 INFO sqlalchemy.engine.base.Engine ()
2021-08-08 21:36:15,456 INFO sqlalchemy.engine.base.Engine COMMIT
2021-08-08 21:36:15,459 INFO sqlalchemy.engine.base.Engine
CREATE TABLE stock_industry_marketcap (
	"Symbol" TEXT,
	"GICS Sector" TEXT,
	"Market_Cap" FLOAT
)


2021-08-08 21:36:15,460 INFO sqlalchemy.engine.base.Engine ()
2021-08-08 21:36:15,464 INFO sqlalchemy.engine.base.Engine COMMIT
2021-08-08 21:36:15,467 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-08-08 21:36:15,471 INFO sqlalchemy.engine.base.Engine INSERT INTO stock_industry_marketcap ("Symbol", "GICS Sector", "Market_Cap") VALUES (?, ?, ?)
2021-08-08 21:36:15,471 INFO sqlalchemy.engine.base.Engine (('MMM', 'Industrials', 114645549056.0), ('ABT', 'Health Care', 216585404416.0), ('ABBV', 'Health Care', 202253746176.0), ('ABMD', 'Health Care', 15696103424.0), ('ACN', 'Information Technology', 204084314112.0), ('ATVI', 'Communication Services', 64106471424.0), ('ADBE', 'Information Technology', 300789432320.0), ('AMD', 'Information Technology', 133560123392.0)  ... displaying 10 of 503 total bound parameter sets ...  ('ZION', 'Financials', 9008241664.0), ('ZTS', 'Health Care', 95845965824.0))
2021-08-08 21:36:15,474 INFO sqlalchemy.engine.base.Engine COMMIT

In [5]:
engine.table_names()

2021-08-08 21:36:15,994 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-08-08 21:36:15,995 INFO sqlalchemy.engine.base.Engine ()

['stock_industry_marketcap']

In [6]:
sql_stock_df = pd.read_sql_table('stock_industry_marketcap', con=engine)

sql_stock_df.head()

2021-08-08 21:36:16,057 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-08-08 21:36:16,061 INFO sqlalchemy.engine.base.Engine ()
2021-08-08 21:36:16,063 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='view' ORDER BY name
2021-08-08 21:36:16,064 INFO sqlalchemy.engine.base.Engine ()
2021-08-08 21:36:16,065 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_xinfo("stock_industry_marketcap")
2021-08-08 21:36:16,066 INFO sqlalchemy.engine.base.Engine ()
2021-08-08 21:36:16,068 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-08-08 21:36:16,069 INFO sqlalchemy.engine.base.Engine ('stock_industry_marketcap',)
2021-08-08 21:36:16,071 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("stock_industry_marketcap")
2021-08-08 21:36:16,072 INFO sqlalchemy.engine.base.Engine ()
2021-08-08 21:36:16,073 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("stock_industry_marketcap")
2021-08-08 21:36:16,073 INFO sqlalchemy.engine.base.Engine ()
2021-08-08 21:36:16,074 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-08-08 21:36:16,075 INFO sqlalchemy.engine.base.Engine ('stock_industry_marketcap',)
2021-08-08 21:36:16,077 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("stock_industry_marketcap")
2021-08-08 21:36:16,079 INFO sqlalchemy.engine.base.Engine ()
2021-08-08 21:36:16,081 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("stock_industry_marketcap")
2021-08-08 21:36:16,082 INFO sqlalchemy.engine.base.Engine ()
2021-08-08 21:36:16,083 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("stock_industry_marketcap")
2021-08-08 21:36:16,084 INFO sqlalchemy.engine.base.Engine ()
2021-08-08 21:36:16,084 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("stock_industry_marketcap")
2021-08-08 21:36:16,085 INFO sqlalchemy.engine.base.Engine ()
2021-08-08 21:36:16,086 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-08-08 21:36:16,087 INFO sqlalchemy.engine.base.Engine ('stock_industry_marketcap',)
2021-08-08 21:36:16,091 INFO sqlalchemy.engine.base.OptionEngine SELECT stock_industry_marketcap."Symbol", stock_industry_marketcap."GICS Sector", stock_industry_marketcap."Market_Cap"
FROM stock_industry_marketcap
2021-08-08 21:36:16,092 INFO sqlalchemy.engine.base.OptionEngine ()

  Symbol             GICS Sector    Market_Cap
0    MMM             Industrials  1.146455e+11
1    ABT             Health Care  2.165854e+11
2   ABBV             Health Care  2.022537e+11
3   ABMD             Health Care  1.569610e+10
4    ACN  Information Technology  2.040843e+11

In [30]:
top5 = """
SELECT Symbol, `GICS Sector`, Market_Cap
FROM stock_industry_marketcap
WHERE `GICS Sector` = 'Industrials'
ORDER BY Market_Cap DESC
LIMIT 5
"""
# UNION all
# SELECT * FROM stock_industry_marketcap WHERE GICS Sector = 'Utilities' ORDER BY Market_Cap LIMIT 5
# UNION all
# SELECT * FROM stock_industry_marketcap WHERE GICS Sector = 'Real Estate' ORDER BY Market_Cap LIMIT 5
# UNION all
# SELECT * FROM stock_industry_marketcap WHERE GICS Sector = 'Materials' ORDER BY Market_Cap LIMIT 5
# UNION all
# SELECT * FROM stock_industry_marketcap WHERE GICS Sector = 'Information Technology' ORDER BY Market_Cap LIMIT 5
# UNION all
# SELECT * FROM stock_industry_marketcap WHERE GICS Sector = 'Health Care' ORDER BY Market_Cap LIMIT 5
# UNION all
# SELECT * FROM stock_industry_marketcap WHERE GICS Sector = 'Financials' ORDER BY Market_Cap LIMIT 5
# UNION all
# SELECT * FROM stock_industry_marketcap WHERE GICS Sector = 'Energy' ORDER BY Market_Cap LIMIT 5
# UNION all
# SELECT * FROM stock_industry_marketcap WHERE GICS Sector = 'Consumer Staples' ORDER BY Market_Cap LIMIT 5
# UNION all
# SELECT * FROM stock_industry_marketcap WHERE GICS Sector = 'Consumer Discretionary' ORDER BY Market_Cap LIMIT 5
# UNION all
# SELECT * FROM stock_industry_marketcap WHERE GICS Sector = 'Communication Services' ORDER BY Market_Cap LIMIT 5
# UNION all

In [31]:
results = engine.execute(top5)

2021-08-08 22:26:04,717 INFO sqlalchemy.engine.base.Engine
SELECT Symbol, `GICS Sector`, Market_Cap
FROM stock_industry_marketcap
WHERE `GICS Sector` = 'Industrials'
ORDER BY Market_Cap DESC
LIMIT 5

2021-08-08 22:26:04,718 INFO sqlalchemy.engine.base.Engine ()

In [32]:
list(results)

[('GE', 'Industrials', 917543452672.0),
 ('UPS', 'Industrials', 168798683136.0),
 ('HON', 'Industrials', 159525617664.0),
 ('UNP', 'Industrials', 146478809088.0),
 ('BA', 'Industrials', 135284097024.0)]