In [1]:
import pandas as pd
from pathlib import Path
import sqlalchemy as sql

In [2]:
# Create a database connection string that links an in-memory database
database_connection_string = 'sqlite:///stock_industry_top5.db'

# Database connection object
engine = sql.create_engine(database_connection_string, echo=True)

# Confirm the engine was created
engine

Engine(sqlite:///stock_industry_top5.db)

In [3]:
stocks_df = pd.read_csv(
    Path('stock_industry_marketcap.csv')
)

stocks_df.head()

  Symbol             GICS Sector    Market_Cap
0    MMM             Industrials  1.146455e+11
1    ABT             Health Care  2.165854e+11
2   ABBV             Health Care  2.022537e+11
3   ABMD             Health Care  1.569610e+10
4    ACN  Information Technology  2.040843e+11

In [4]:
stocks_df.to_sql('stock_industry_marketcap', engine, index=False, if_exists='replace')

2021-08-09 20:33:29,788 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("stock_industry_marketcap")
2021-08-09 20:33:29,788 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-08-09 20:33:29,791 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("stock_industry_marketcap")
2021-08-09 20:33:29,792 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-08-09 20:33:29,794 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-08-09 20:33:29,795 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-08-09 20:33:29,797 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("stock_industry_marketcap")
2021-08-09 20:33:29,797 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-08-09 20:33:29,799 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-08-09 20:33:29,799 INFO sqlalchemy.engine.Engine [raw sql] ('stock_industry_marketcap',)
2021-08-09 20:33:29,800 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("stock_industry_marketcap")
2021-08-09 20:33:29,801 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-08-09 20:33:29,801 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("stock_industry_marketcap")
2021-08-09 20:33:29,802 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-08-09 20:33:29,802 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-08-09 20:33:29,803 INFO sqlalchemy.engine.Engine [raw sql] ('stock_industry_marketcap',)
2021-08-09 20:33:29,805 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("stock_industry_marketcap")
2021-08-09 20:33:29,805 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-08-09 20:33:29,806 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("stock_industry_marketcap")
2021-08-09 20:33:29,807 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-08-09 20:33:29,807 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("stock_industry_marketcap")
2021-08-09 20:33:29,808 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-08-09 20:33:29,809 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("stock_industry_marketcap")
2021-08-09 20:33:29,809 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-08-09 20:33:29,810 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-08-09 20:33:29,810 INFO sqlalchemy.engine.Engine [raw sql] ('stock_industry_marketcap',)
2021-08-09 20:33:29,813 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-08-09 20:33:29,814 INFO sqlalchemy.engine.Engine
DROP TABLE stock_industry_marketcap
2021-08-09 20:33:29,814 INFO sqlalchemy.engine.Engine [no key 0.00053s] ()
2021-08-09 20:33:29,820 INFO sqlalchemy.engine.Engine COMMIT
2021-08-09 20:33:29,823 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-08-09 20:33:29,824 INFO sqlalchemy.engine.Engine
CREATE TABLE stock_industry_marketcap (
	"Symbol" TEXT,
	"GICS Sector" TEXT,
	"Market_Cap" FLOAT
)


2021-08-09 20:33:29,824 INFO sqlalchemy.engine.Engine [no key 0.00067s] ()
2021-08-09 20:33:29,830 INFO sqlalchemy.engine.Engine COMMIT
2021-08-09 20:33:29,832 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-08-09 20:33:29,836 INFO sqlalchemy.engine.Engine INSERT INTO stock_industry_marketcap ("Symbol", "GICS Sector", "Market_Cap") VALUES (?, ?, ?)
2021-08-09 20:33:29,837 INFO sqlalchemy.engine.Engine [generated in 0.00269s] (('MMM', 'Industrials', 114645549056.0), ('ABT', 'Health Care', 216585404416.0), ('ABBV', 'Health Care', 202253746176.0), ('ABMD', 'Health Care', 15696103424.0), ('ACN', 'Information Technology', 204084314112.0), ('ATVI', 'Communication Services', 64106471424.0), ('ADBE', 'Information Technology', 300789432320.0), ('AMD', 'Information Technology', 133560123392.0)  ... displaying 10 of 503 total bound parameter sets ...  ('ZION', 'Financials', 9008241664.0), ('ZTS', 'Health Care', 95845965824.0))
2021-08-09 20:33:29,840 INFO sqlalchemy.engine.Engine COMMIT

In [5]:
engine.table_names()

2021-08-09 20:33:30,337 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-08-09 20:33:30,338 INFO sqlalchemy.engine.Engine [raw sql] ()

C:\Users\bbish\anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  """Entry point for launching an IPython kernel.

['stock_industry_marketcap']

In [6]:
sql_stock_df = pd.read_sql_table('stock_industry_marketcap', con=engine)

sql_stock_df.head()

2021-08-09 20:33:30,408 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-08-09 20:33:30,410 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-08-09 20:33:30,413 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' ORDER BY name
2021-08-09 20:33:30,414 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-08-09 20:33:30,415 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("stock_industry_marketcap")
2021-08-09 20:33:30,416 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-08-09 20:33:30,417 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-08-09 20:33:30,417 INFO sqlalchemy.engine.Engine [raw sql] ('stock_industry_marketcap',)
2021-08-09 20:33:30,418 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("stock_industry_marketcap")
2021-08-09 20:33:30,419 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-08-09 20:33:30,419 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("stock_industry_marketcap")
2021-08-09 20:33:30,419 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-08-09 20:33:30,420 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-08-09 20:33:30,420 INFO sqlalchemy.engine.Engine [raw sql] ('stock_industry_marketcap',)
2021-08-09 20:33:30,421 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("stock_industry_marketcap")
2021-08-09 20:33:30,421 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-08-09 20:33:30,422 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("stock_industry_marketcap")
2021-08-09 20:33:30,422 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-08-09 20:33:30,422 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("stock_industry_marketcap")
2021-08-09 20:33:30,423 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-08-09 20:33:30,423 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("stock_industry_marketcap")
2021-08-09 20:33:30,423 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-08-09 20:33:30,424 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-08-09 20:33:30,424 INFO sqlalchemy.engine.Engine [raw sql] ('stock_industry_marketcap',)
2021-08-09 20:33:30,428 INFO sqlalchemy.engine.Engine SELECT stock_industry_marketcap."Symbol", stock_industry_marketcap."GICS Sector", stock_industry_marketcap."Market_Cap"
FROM stock_industry_marketcap
2021-08-09 20:33:30,430 INFO sqlalchemy.engine.Engine [generated in 0.00157s] ()

  Symbol             GICS Sector    Market_Cap
0    MMM             Industrials  1.146455e+11
1    ABT             Health Care  2.165854e+11
2   ABBV             Health Care  2.022537e+11
3   ABMD             Health Care  1.569610e+10
4    ACN  Information Technology  2.040843e+11

In [7]:
top5 = """
SELECT Symbol
FROM stock_industry_marketcap
WHERE `GICS Sector` = 'Industrials'
ORDER BY Market_Cap DESC
LIMIT 5
"""
# UNION all
# SELECT * FROM stock_industry_marketcap WHERE GICS Sector = 'Utilities' ORDER BY Market_Cap LIMIT 5
# UNION all
# SELECT * FROM stock_industry_marketcap WHERE GICS Sector = 'Real Estate' ORDER BY Market_Cap LIMIT 5
# UNION all
# SELECT * FROM stock_industry_marketcap WHERE GICS Sector = 'Materials' ORDER BY Market_Cap LIMIT 5
# UNION all
# SELECT * FROM stock_industry_marketcap WHERE GICS Sector = 'Information Technology' ORDER BY Market_Cap LIMIT 5
# UNION all
# SELECT * FROM stock_industry_marketcap WHERE GICS Sector = 'Health Care' ORDER BY Market_Cap LIMIT 5
# UNION all
# SELECT * FROM stock_industry_marketcap WHERE GICS Sector = 'Financials' ORDER BY Market_Cap LIMIT 5
# UNION all
# SELECT * FROM stock_industry_marketcap WHERE GICS Sector = 'Energy' ORDER BY Market_Cap LIMIT 5
# UNION all
# SELECT * FROM stock_industry_marketcap WHERE GICS Sector = 'Consumer Staples' ORDER BY Market_Cap LIMIT 5
# UNION all
# SELECT * FROM stock_industry_marketcap WHERE GICS Sector = 'Consumer Discretionary' ORDER BY Market_Cap LIMIT 5
# UNION all
# SELECT * FROM stock_industry_marketcap WHERE GICS Sector = 'Communication Services' ORDER BY Market_Cap LIMIT 5
# UNION all

In [13]:
results = engine.execute(top5)

2021-08-09 20:37:41,008 INFO sqlalchemy.engine.Engine
SELECT Symbol
FROM stock_industry_marketcap
WHERE `GICS Sector` = 'Industrials'
ORDER BY Market_Cap DESC
LIMIT 5

2021-08-09 20:37:41,009 INFO sqlalchemy.engine.Engine [raw sql] ()

In [14]:
data = pd.DataFrame(data=results)
data

     0
0   GE
1  UPS
2  HON
3  UNP
4   BA

In [ ]:
# concat sectors_1 sectors_2 sectors_3 to 1 list